<template>
    <footer>
        <div class="footer-branding">
            <div class="al-container al-mobile-container">
                <img src="/images/logo.png" alt="Sukasa" />
                <p>
                    © {{ new Date().getFullYear() }} SUKASA IMÓVEIS DE LEILÃO -
                    Todos os direitos reservados
                </p>
            </div>
        </div>
        <div class="author">
            <div class="al-container">
                <a
                    href="https://arealocal.com.br"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    <p>Desenvolvido por: Área Local</p></a
                >
            </div>
        </div>
    </footer>
</template>
