<template>
    <header>
        <div class="stripe">
            <div class="al-container al-mobile-container">
                <ul class="navbar-options">
                    <li v-for="(link, i) in links" :key="i">
                        <router-link v-if="link.name" :to="link.route">
                            {{ link.name }}
                        </router-link>
                        <router-link v-else :to="link.route">
                            <v-icon color="#fff">
                                {{ link.icon }}
                            </v-icon>
                        </router-link>
                    </li>
                </ul>
            </div>
        </div>

        <div class="header-brand-search">
            <div class="al-container al-mobile-container">
                <div class="logo">
                    <router-link :to="{ name: 'landingPage' }">
                        <img src="/images/logo.png" alt="Logo" />
                    </router-link>
                </div>
                <div class="mobile-menu">
                    <v-icon size="32" color="#700b0d">fas fa-bars</v-icon>
                </div>
                <div class="search">
                    <input ref="address" type="text" />
                    <!-- <v-btn :disabled="disabled" class="search-submit">
                        <v-icon size="16" color="#FFF">fas fa-search</v-icon>
                    </v-btn> -->
                </div>
            </div>
        </div>
    </header>
</template>

<script>
import GoogleMapsApiLoader from "google-maps-api-loader";

export default {
    name: "Header",
    data() {
        return {
            disabled: true,
            links: [
                // {
                //     name: "QUEM SOMOS",
                //     route: { name: "" }
                // },
                {
                    name: "BLOG",
                    route: { name: "blog" }
                },
                {
                    name: "FALE CONOSCO",
                    route: { name: "contato" }
                },
                {
                    name: "ENTRAR",
                    route: { name: "login" }
                },
                {
                    icon: "mdi-instagram",
                    route: { name: "" }
                },
                {
                    icon: "mdi-facebook",
                    route: { name: "" }
                }
            ]
        };
    },

    async mounted() {
        const googleMapApi = await GoogleMapsApiLoader({
            libraries: ["places"],
            apiKey: this.apiKey
        });
        this.google = googleMapApi;
        const places = new google.maps.places.Autocomplete(this.$refs.address);
        const self = this;
        google.maps.event.addListener(places, "place_changed", async () => {
            const place = await places.getPlace();

            const componentMap = {
                administrative_area_level_2: "administrative_area_level_2"
            };

            for (let i = 0; i < place.address_components.length; i++) {
                const types = place.address_components[i].types;
                for (let j = 0; j < types.length; j++) {
                    const component_type = types[j];
                    if (componentMap.hasOwnProperty(component_type)) {
                        await self.$store.commit(
                            "PropertyModule/MUTATE_MAPCENTER",
                            place.geometry
                        );
                        this.disabled = false;
                    }
                }
            }
        });
    }
};
</script>
