<template>
    <v-container>
        <v-card class="mx-auto">
            <v-toolbar color="primary" dark>
                <v-toolbar-title>
                    Cadastrar notícia
                </v-toolbar-title>
            </v-toolbar>

            <v-card-text>
                <v-container>
                    <v-row>
                        <v-col cols="6">
                            <v-row>
                                <v-col cols="12">
                                    <v-text-field
                                        label="Título *"
                                        name="title"
                                        v-model="title"
                                        required
                                    ></v-text-field>
                                </v-col>
                                <v-col cols="12">
                                    <v-textarea
                                        v-model="description"
                                        name="description"
                                        outlined
                                        label="Conteúdo da notícia *"
                                        required
                                    ></v-textarea>
                                </v-col>
                                <v-col cols="12">
                                    <v-select
                                        v-model="category"
                                        :items="category_items"
                                        label="Selecione a categoria"
                                        item-text="text"
                                        item-value="value"
                                        name="category"
                                    ></v-select>
                                </v-col>
                            </v-row>
                        </v-col>

                        <v-col cols="12" sm="6">
                            <ImageInput v-model="file">
                                <div slot="activator">
                                    <v-card
                                        link
                                        v-ripple="{
                                            class: 'primary--text'
                                        }"
                                    >
                                        <v-img
                                            v-if="file"
                                            ref="image"
                                            tile
                                            :src="file.imageURL"
                                            :lazy-src="file.imageURL"
                                            alt="Thumbnail"
                                        />
                                        <v-img
                                            v-else
                                            ref="image"
                                            tile
                                            src="/images/logo.png"
                                            alt="Thumbnail"
                                        ></v-img>
                                    </v-card>
                                </div>
                            </ImageInput>
                        </v-col>
                    </v-row>
                </v-container>
                <small>* indica que o campo é obrigatório</small>
            </v-card-text>

            <v-card-actions>
                <v-btn
                    :loading="loading"
                    dark
                    color="green"
                    @click="createPost()"
                >
                    SALVAR
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-container>
</template>

<script>
export default {
    name: "CreatePost",

    components: {
        ImageInput: () => import("../../../components/base/ImageInput")
    },

    data() {
        return {
            loading: false,
            file: null,
            title: "",
            description: "",
            data: [],
            category: null,
            category_items: [],
        };
    },

    methods: {
        async createPost() {
            this.loading = true;
            const payload = new FormData();
            payload, { headers: {
                    'Content-Type': 'multipart/form-data'
                }
            }
            payload.set("title", this.title);
            payload.set("category_id", this.category);
            payload.set("description", this.description);
            payload.append("thumbnail", this.file != null ? this.file.image : null);

            await this.$http.post("/posts", payload);
            this.loading = false;

            this.$router.push({
                name: "noticias",
                params: { redirectCreate: true }
            });
        },

        async getCategories(){
            axios
                .get('/noticias/get_categories')
                .then(response => {
                    if(response.status == 200){
                        for(let category of response.data.categories){
                            this.category_items.push({text: category.name, value: category.id});
                        }
                    }
                })
                .catch(error => {
                    console.error(error);
                })
        }
    },

    created(){
        this.getCategories();
    }
};
</script>
