<template>
    <v-container>
        <Snackbar v-model="snackbar" :text="text" />

        <v-dialog persistent v-model="dialog" width="500">
            <v-card>
                <v-card-title class="headline grey lighten-2">
                    Atenção
                </v-card-title>

                <v-card-text class="mt-3">
                    Deseja deletar este Post?
                    <small class="red--text">
                        Esta ação não pode ser desfeita
                    </small>
                </v-card-text>

                <v-divider></v-divider>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="error" @click="dialog = false">
                        CANCELAR
                    </v-btn>
                    <v-btn color="success" @click="triggerDelete()">
                        DELETAR
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-card class="mx-auto">
            <v-toolbar color="primary" dark>
                <v-toolbar-title>
                    Notícias
                </v-toolbar-title>
            </v-toolbar>
            <v-data-table
                :search="search"
                :headers="headers"
                :items="posts"
                class="elevation-1"
            >
                <template v-slot:top>
                    <v-toolbar flat>
                        <v-text-field
                            v-model="search"
                            append-icon="mdi-magnify"
                            label="Buscar..."
                            single-line
                            hide-details
                        ></v-text-field>
                        <v-spacer></v-spacer>
                        <v-btn
                            color="green"
                            dark
                            class="mb-2"
                            @click="handleClick()"
                        >
                            Nova notícia
                        </v-btn>
                    </v-toolbar>
                </template>
                <template v-slot:item.actions="item">
                    <v-icon small class="mr-2" @click="editItem(item)">
                        mdi-pencil
                    </v-icon>
                    <v-icon small @click="deleteItem(item)">
                        mdi-delete
                    </v-icon>
                </template>
            </v-data-table>
        </v-card>
    </v-container>
</template>

<script>
export default {
    name: "noticias",

    components: {
        Snackbar: () => import("../../../components/base/Snackbar")
    },

    data: () => ({
        search: "",
        id: null,
        posts: [],
        dialog: false,
        headers: [
            {
                text: "Titulo",
                align: "start",
                sortable: true,
                value: "title"
            },
            { text: "Ações", align: "end", value: "actions", sortable: false }
        ],
        editedIndex: -1,
        editedItem: {
            nome: ""
        },
        defaultItem: {
            nome: ""
        },
        item: {},
        snackbar: false,
        text: ""
    }),

    created() {
        this.fecthPosts();
    },

    methods: {
        async fecthPosts() {
            const response = await this.$http.get("/posts");
            const { posts } = response.data;
            this.posts = posts;
        },

        async deleteItem({ item: { id } }) {
            this.id = id;
            this.dialog = true;
        },

        async triggerDelete() {
            await this.$http.delete(`posts/${this.id}`);
            this.properties = await [];
            this.fecthPosts();
            this.dialog = false;
        },

        editItem({ item }) {
            this.$router.push({ name: "editPost", query: { item: item } });
        },

        handleClick() {
            this.$router.push({ name: "createPost" });
        }
    },

    mounted() {
        if (this.$route.params.redirectCreate) {
            this.snackbar = true;
            this.text = "Post cadastrado com sucesso.";
        }

        if (this.$route.params.redirectEdit) {
            this.snackbar = true;
            this.text = "Post atualizado com sucesso.";
        }
    }
};
</script>
