<template>
    <v-app v-if="role == 'admin'">
        <Navbar />
        <v-main>
            <Child />
        </v-main>
    </v-app>
    <component v-else :is="'Client'"></component>
</template>

<script>
import Child from "../base/Child.vue";
import Navbar from "../base/Navbar";
import Client from "./Client";

export default {
    name: "MainLayout",
    components: { Child, Navbar, Client},

    data(){
        return{
            role: null,
        }
    },

    created(){
        this.role = this.$auth.user().role;
    }
};
</script>

<style lang="css">
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s ease;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}

button.v-btn.v-btn--is-elevated.v-btn--has-bg.theme--light.v-size--default.success{
    background-color: #4caf50!important;
    border-color: #4caf50!important;
}
button.v-btn.v-btn--is-elevated.theme--light.v-size--default.error{
    background-color: #ff5252 !important;
    border-color: #ff5252 !important;
}
</style>
