<template>
    <v-app>
        <v-main class="auth">
            <v-container fill-height>
                <Child />
            </v-container>
        </v-main>
    </v-app>
</template>

<script>
import Child from "../base/Child";
export default {
    name: "BasicLayout",
    components: { Child }
};
</script>

<style lang="scss" scoped>
@import "@/auth";
</style>
