<template>
    <v-app>
        <NavbarClient />
        <v-main>
            <Child />
        </v-main>
    </v-app>
</template>

<script>
import Child from "../base/Child.vue";
import NavbarClient from "../base/NavbarClient";

export default {
    name: "ClientLayout",
    components: { Child, NavbarClient }
};
</script>

<style lang="css">
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s ease;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}
</style>
