<script>
import { POINT_MARKER_ICON_CONFIG } from "../../config/mapSettings";

export default {
    props: {
        google: {
            type: Object,
            required: true
        },
        map: {
            type: Object,
            required: true
        },
        marker: {
            type: Object,
            required: true
        }
    },

    data() {
        return {
            // essa estrutura aqui
            content: `<a target="_blank" id="property-card" href="${this.marker.link}" >
                    <img src="${this.firstImageUrl() || '/images/logo.png'}" />
                    <div id="marker">
                    <p> Tipo : <b>${this.marker.type}</b> </p>
                    <p> Valor de avaliação : <b> R$ ${this.marker.avaliation_value}</b> </p>
                    </div>
                </a>`,
            activeInfoWindow: []
        };
    },

    mounted() {
        const { Marker, InfoWindow } = this.google.maps;

        // console.log(this.marker)

        const marker = new Marker({
            position: { lat: parseFloat(this.marker.latitude), lng: parseFloat(this.marker.longitude) },
            map: this.map,
            icon: POINT_MARKER_ICON_CONFIG
        });

        const infowindow = new InfoWindow({
            content: this.content,
            maxWidth: 300
        });

        marker.addListener("mouseover", () => {
            infowindow.open(this.map, marker);
        });

        marker.addListener("mouseout", () => {
            infowindow.close();
        });

        marker.addListener("click", () => {
            window.open(this.marker.link, "_blank");
        });
    },

    methods: {
        firstImageUrl() {
            try {
                if (this.marker.images && this.marker.images !== '') {
                    const jsonString = JSON.parse(this.marker.images);
                    const imagesArray = JSON.parse(jsonString);
                    return imagesArray.length > 0 ? imagesArray[0] : null;
                }
                return null;
            } catch (e) {
                console.error("Erro ao analisar as imagens da propriedade:", e);
                return null;
            }
        },

        isInfoWindowOpen(infoWindow) {
            const map = infoWindow.getMap();

            if (map) {
                infoWindow.addListener("mouseout", () => {
                    return true;
                });
            }
        }
    },

    render() {}
};
</script>

<style lang="scss">
#property-card {
    img {
        width: 100% !important;
        object-fit: cover;
        max-height: 200px;
    }
}
</style>
