<template>
    <div>
        <div class="google-map" ref="googleMap"></div>
        <template v-if="this.google && this.map">
            <slot :google="google" :map="map" />
        </template>
    </div>
</template>

<script>
import { POINT_MARKER_ICON_CONFIG } from "../../config/mapSettings";

import { mapGetters } from "vuex";
import GoogleMapsApiLoader from "google-maps-api-loader";

export default {
    props: {
        mapConfig: Object,
        apiKey: String
    },

    data() {
        return {
            google: null,
            map: null,
            rectangle: null,
            allMarkers: [],
        };
    },

    computed: {
        ...mapGetters("PropertyModule", ["properties_holder", "mapCenter"])
    },

    watch: {
        mapCenter: function (newVal, oldVal) {
            this.map.setCenter(newVal);
        }
    },

    methods: {
        async initializeMap() {
            const mapContainer = this.$refs.googleMap;
            this.map = new this.google.maps.Map(mapContainer, this.mapConfig);
        },

        async mapContains() {
            const bounds = this.map.getBounds();
            const ne = bounds.getNorthEast();
            const sw = bounds.getSouthWest();

            try {
                const response = await axios.post('/property/get_published', {
                    northEast: { lat: ne.lat(), lng: ne.lng() },
                    southWest: { lat: sw.lat(), lng: sw.lng() }
                });

                const properties = response.data;

                this.$store.commit("PropertyModule/MUTATE_PROPERTIES", {
                    properties: properties,
                    filters: this.$store.getters["FiltersModule/activeFilters"]
                });
                await this.$store.commit("PropertyModule/MUTATE_PROPERTIES_FILTER_HOLDER", properties);
            } catch (error) {
                console.error('Erro ao buscar propriedades:', error);
            }
        },

        updateMarkers(newProperties) {

            // console.log("newProperties", newProperties)

            this.allMarkers.forEach(marker => {
                marker.setMap(null);
            });

            newProperties.forEach(prop => {
                let marker = this.allMarkers.find(m => m.propertyId === prop.id);
                if (marker) {
                    marker.setMap(this.map);
                } else {
                    this.createMarker(prop);
                }
            });
        },

        createMarker(property) {
            const { Marker, InfoWindow } = this.google.maps;

            // Estrutura personalizada do marcador
            const content = `<a target="_blank" id="property-card" href="${property.link}">
                        <img src="${this.firstImageUrl(property) || '/images/logo.png'}" />
                        <div id="marker">
                            <p> Tipo : <b>${property.type}</b> </p>
                            <p> Valor de avaliação : <b> R$ ${property.avaliation_value}</b> </p>
                        </div>
                     </a>`;

            const marker = new Marker({
                position: { lat: parseFloat(property.latitude), lng: parseFloat(property.longitude) },
                map: this.map,
                icon: POINT_MARKER_ICON_CONFIG
            });

            const infowindow = new InfoWindow({
                content: content,
                maxWidth: 300
            });

            marker.addListener("mouseover", () => {
                infowindow.open(this.map, marker);
            });

            marker.addListener("mouseout", () => {
                infowindow.close();
            });

            marker.addListener("click", () => {
                if (this.isValidHttpUrl(property.link)) {
                    window.open(property.link, "_blank");
                } else {
                    console.error('Link inválido ou vazio');
                    this.submitForm(property);
                }
            });

            // Armazenar a referência ao marcador
            this.allMarkers.push(marker);
        },

        submitForm(property) {
            const form = document.createElement('form');
            form.method = 'post';
            form.action = 'https://venda-imoveis.caixa.gov.br/sistema/detalhe-imovel.asp';
            form.target = '_blank';

            const hiddenField = document.createElement('input');
            hiddenField.type = 'hidden';
            hiddenField.name = 'hdnimovel';
            hiddenField.value = property.link;

            form.appendChild(hiddenField);
            document.body.appendChild(form);
            form.submit();
        },

        isValidHttpUrl(string) {
            let url;

            try {
                url = new URL(string);
            } catch (_) {
                return false;
            }

            return url.protocol === "http:" || url.protocol === "https:";
        },

        firstImageUrl(property) {
            try {
                if (property.images && property.images !== '') {
                    const jsonString = JSON.parse(property.images);
                    const imagesArray = JSON.parse(jsonString);
                    return imagesArray.length > 0 ? imagesArray[0] : null;
                }
                return null;
            } catch (e) {
                console.error("Erro ao analisar as imagens da propriedade:", e);
                return null;
            }
        },
    },

    async mounted() {
        const self = this;

        const googleMapApi = await GoogleMapsApiLoader({
            apiKey: process.env.MIX_API_KEY
        });
        this.google = await googleMapApi;
        await this.initializeMap();

        googleMapApi.maps.event.addListener(this.map, "idle", function (event) {
            self.mapContains(this);
        });
    }
};
</script>

<style scoped>
.google-map {
    width: 100%;
    min-height: 100%;
}
</style>
<style lang="scss">
#property-card {
    img {
        width: 100% !important;
        object-fit: cover;
        max-height: 200px;
    }
}
</style>
