<template>
    <GoogleMapLoader ref="googleMapLoader" v-if="key" :mapConfig="mapConfig" :apiKey="key">
        <template slot-scope="{ google, map }">
            <!-- <GoogleMapMarker
                v-for="(marker, i) in properties"
                :key="marker.id"
                :marker="marker"
                :google="google"
                :map="map"
            /> -->
        </template>
    </GoogleMapLoader>
</template>

<script>
import GoogleMapLoader from "../Maps/GoogleMapLoader";
const GoogleMapMarker = () => import("../Maps/GoogleMapMarker");

import { mapSettings } from "../../config/mapSettings";

import { mapState, mapGetters } from "vuex";

export default {
    components: {
        GoogleMapLoader,
        GoogleMapMarker
    },

    methods: {
        logData(data) {
            console.log('DATA', data);
            return '';
        },
    },

    data() {
        return {
            key: process.env.MIX_API_KEY
        };
    },

    watch: {
        properties(newProperties) {
            this.$refs.googleMapLoader.updateMarkers(newProperties);
        }
    },

    computed: {
        ...mapState("PropertyModule", ["locations"]),

        ...mapState("PropertyModule", ["properties"]),

        ...mapGetters("PropertyModule", ["mapCenter"]),

        mapConfig() {
            return {
                ...mapSettings,
                center: this.mapCenter
            };
        }
    }
};
</script>
