<template>
    <div id="app" data-app>
        <transition>
            <component v-if="routes" :is="'Site'"></component>
            <component v-else :is="$auth.check() ? 'Admin' : 'Auth'"></component>
        </transition>
    </div>
</template>

<script>
import Admin from "./components/layout/Admin";
import Auth from "./components/layout/Auth";
import Site from "./components/layout/Site";
import Client from "./components/layout/Client";

export default {
    name: "App",
    components: {
        Admin,
        Auth,
        Site,
        Client
    },

    computed: {
        routes() {
            switch (this.$route.name) {
                case "home":
                    return true;
                    break;
                case "landingPage":
                    return true;
                    break;
                case "blog":
                    return true;
                    break;
                case "post":
                    return true;
                    break;
                case "contato":
                    return true;
                    break;
                case "registrar":
                    return true;
                    break;
            }
        }
    },
};
</script>
