footer {
    .footer-branding {
        background: $secondary-color;
        padding: 35px 0;
        text-align: center;
        > div {
            img {
                height: 100px;
                object-fit: contain;
            }
            p {
                color: $primary-font;
                font-weight: 500;
                margin-top: 20px;
            }
        }
    }
    .author {
        background: $tertiary-color;
        padding: 10px 0;
        > div {
            display: flex;
            justify-content: flex-end;
            @include breakpoint($sm) {
                justify-content: center;
            }
            p {
                color: $primary-font;
                font-weight: 700;
            }
        }
    }
}
