header {
    box-shadow: 0px 1px 5px #ccc;
    height: 175px;
    .stripe {
        padding: 5px;
        background: $primary-color;
        @include breakpoint($sm) {
            display: none;
        }
        ul {
            list-style: none;
            display: flex;
            justify-content: flex-end;
            li {
                color: #fff;
                width: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                &::before {
                    content: "";
                    height: 70%;
                    width: 1px;
                    background: #fff;
                    position: absolute;
                    top: 2px;
                    left: 0;
                }
                &:first-of-type,
                &:nth-of-type(4),
                &:nth-of-type(5) {
                    &::before {
                        display: none;
                    }
                }
                &:nth-of-type(1) {
                    width: 100px;
                }
                &:nth-of-type(4) {
                    width: 50px;
                }
                &:last-of-type {
                    width: 50px;
                }
            }
        }
    }
    .header-brand-search {
        display: flex;
        align-items: center;
        height: 140px;
        > div {
            display: flex;
            justify-content: space-between;
            position: relative;
            @include breakpoint($sm) {
                flex-direction: column;
            }
            .logo {
                @include breakpoint($sm) {
                    margin-top: 10px;
                }
                img {
                    height: 90px;
                    @include breakpoint($sm) {
                        height: 50px;
                    }
                }
            }
            .mobile-menu {
                position: absolute;
                right: 22px;
                top: 17px;
                z-index: 10;
                @media (min-width: $sm) {
                    display: none;
                }
            }

            .search {
                width: 60%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                @include breakpoint($sm) {
                    margin-top: 3rem;
                    width: 100%;
                }
                input {
                    background: #fff;
                    width: 100%;
                    padding: 10px;
                    box-shadow: 1px 1px 4px #ccc;
                    border-radius: 5px;
                }
                .search-submit {
                    position: absolute;
                    right: 0;
                    height: 38px;
                    width: 50px;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                    background: $primary-color;
                }
            }
        }
    }
}

.intro {
    header {
        box-shadow: 0px 1px 5px #ccc;
        height: 175px;
        @include breakpoint(1080px) {
            display: none;
        }
        .stripe {
            padding: 5px;
            background: #700b0d;

            ul {
                list-style: none;
                display: flex;
                justify-content: flex-end;
                li {
                    color: #fff;
                    width: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                }
            }
        }
        .header-brand {
            display: flex;
            align-items: center;
            height: 140px;
            > div {
                display: flex;
                justify-content: space-between;
                position: relative;
                .logo {
                    img {
                        height: 90px;
                    }
                }

                ul {
                    list-style: none;
                    display: flex;
                    justify-content: flex-end;
                    li {
                        width: 200px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                    }
                }
            }
        }
    }

    .search-box {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .background-search {
            background: url("/images/banner.png");
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            background-attachment: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
        .al-container {
            .search {
                width: 60%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                margin: 0 auto;
                @include breakpoint($sm) {
                    margin-top: 3rem;
                    width: 100%;
                }
                input {
                    background: #fff;
                    width: 100%;
                    padding: 10px;
                    box-shadow: 1px 1px 4px #ccc;
                    border-radius: 5px;
                }
                .search-submit {
                    position: absolute;
                    right: 0;
                    height: 38px;
                    width: 50px;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                    background: $primary-color;
                }
            }
        }
    }
}
