section.imoveis {
    div.scroll-content {
        position: relative;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        > div {
            > div {
                overflow: auto;
                height: 100vh;
                max-height: 100vh;
                .left-right-content {
                    overflow: auto;
                    height: 100vh;
                    max-height: 100vh;
                    .left {
                        vertical-align: top;
                        padding-right: 50px;
                        width: 59.5%;
                        padding-top: 50px;
                        padding-bottom: 50px;
                        position: relative;
                    }
                    .right {
                        overflow: hidden;
                    }
                }
            }
        }
        .travel-map {
            position: absolute;
            top: 0;
            right: 0;
            width: 43.5%;
            height: 100vh;
        }
    }

    .newsletter {
        background: url("/images/news.png");
        background-size: cover;
        background-repeat: no-repeat;
        padding: 40px 0px;
        > div {
            .left {
                p {
                    color: #fff;
                    &:first-of-type {
                        font-size: 37px;
                        font-weight: bold;
                    }
                    &:nth-of-type(2) {
                        margin-top: 20px;
                        font-size: 25px;
                    }
                }
            }
            .right {
                > div {
                    input {
                        border: 2px solid #fff;
                        border-radius: 4px;
                        padding: 7px 20px;
                        width: 350px;
                        margin-right: 15px;
                        color: #fff;
                        &::placeholder {
                            color: #fff;
                        }
                        @include breakpoint($sm) {
                            width: 100%;
                            margin-top: 10px;
                        }
                    }
                    button {
                        padding: 15px 10px;
                        width: 170px;
                        background: #f0b32f;
                        color: #fff;
                        border-radius: 7px;
                        @include breakpoint($sm) {
                            width: 100%;
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }
}
