div {
    button {
        text-align: center;
        padding: 7px 20px;
        border: 2px solid #7d7d7d;
        border-radius: 17px;
        margin-right: 20px;
    }

    .search-content {
        display: none;
        padding: 20px;
        box-shadow: -14px 10px 10px #00000080;
        border-radius: 5px;
        margin-top: 20px;
        position: absolute;
        background: #fff;
        z-index: 20;
        min-width: 320px;
        border: 1px solid #ccc;

        > span {
            &:hover {
                cursor: pointer;
            }
        }

        label {
            > div {
                display: flex;
                justify-content: start;
                span {
                    &:hover {
                        cursor: pointer;
                    }
                    margin-top: 20px;
                    &:first-of-type {
                        width: 22px;
                        height: 22px;
                        margin-right: 10px;
                        border-radius: 5px;
                        border: 1px solid;
                    }

                    input {
                        opacity: 0;
                    }
                }
            }
        }
        > div:first-of-type {
            border-top: 1px solid #ccc;
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            padding-top: 10px;
            button {
                &:first-of-type {
                    color: #000;
                    border-bottom: 1px solid;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    border-radius: 0;
                    font-weight: 500;
                    height: 30px;
                    padding: 0;
                    background: unset;
                    box-shadow: unset;
                }
                &:nth-of-type(2) {
                    background: #700e0d;
                    border: none;
                    color: #fff;
                    font-weight: 500;
                    height: 30px;
                    padding: 0 10px;
                    border-radius: 5px;
                }
            }
        }
    }

    .active {
        background: #700e0d;
        border: 1px solid #700e0d !important;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
}
