/*
========================================================================== */
// Sizes
$sm: 480px;
$tb: 768px;
$dt: 1024px;

// Colors
$primary-color: #700b0d;
$secondary-color: #d8d8d8;
$tertiary-color: #b7b4b4;

$primary-font: #4b4b4b;

$darken-primary-color: darken($primary-color, 16);
$darken-secondary-color: darken($secondary-color, 10);
$darken-tertiary-color: darken($tertiary-color, 10);

$white: #fff;
$black: #000;

$danger: #dc3545;
$success: #28a745;

/* Mixins
========================================================================== */
@import "./mixins";

/* Resets
========================================================================== */
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    &:not(.fas, .fab, .fa) {
        font-size: 1rem;
    }
}

a {
    transition: all linear 0.2s;
    &:focus,
    &:hover {
        text-decoration: none;
    }
}

input,
button {
    outline: none;
}

section {
    position: relative;
}

img {
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}

/* Global classes
========================================================================== */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.al-container {
    width: 1190px;
}

.al-mobile-container {
    @include breakpoint($sm) {
        padding: 0 20px;
    }
}

.al-small-container {
    width: 1042px;
}

.al-extra-small-container {
    position: relative;
    width: 844px;
}

.al-container,
.al-small-container,
.al-extra-small-container {
    max-width: 100%;
    margin: 0 auto;
}

div.left-right-content {
    display: table;
    width: 100%;
    div.left,
    div.right {
        display: table-cell;
        vertical-align: middle;
        @include smartphone {
            display: table-row;
        }
    }
}

.left,
.right {
    display: inline-block;
    width: 49.5%;
    // position: relative;
    vertical-align: top;
    @include smartphone {
        width: 100%;
        padding: 20px;
    }
}

.isLoading {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Html / Body
========================================================================== */
html {
    height: 100%;
    overflow: auto;
}

body {
    background: #fff;
    height: 100%;
    line-height: 1.6;
    font: normal normal 16px Arial, sans-serif;
}

/* Custom scrollbar
========================================================================== */
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: darken($white, 10);
}

body::-webkit-scrollbar-thumb {
    background: $primary-color;
    &:hover {
        background: $darken-primary-color;
    }
}

@import "header";
@import "footer";
@import "./home";
@import "./contato";
@import "./register";
@import "./blog";
