<template>
    <div>
        <div @click="launchFilePicker()">
            <slot name="activator"></slot>
        </div>
        <input
            ref="file"
            type="file"
            class="d-none"
            name="file"
            @change="onfileChange()"
        />
    </div>
</template>

<script>

export default {
    name: "ImageInput",
    props: {
        value: Object
    },

    data(){
        return{
            handyAttachments: [],
            file: null,
        }
    },

    methods: {
        launchFilePicker() {
            this.$refs.file.click();
        },
        onfileChange() {
            let image = this.$refs.file.files[0];
            let imageURL = URL.createObjectURL(image);
            this.$emit("input", { image, imageURL });
        }
    },
};
</script>
