<template>
    <v-snackbar :value="value">
        {{ text }}
        <v-btn text @click.native="$emit('input', !value)">
            Fechar
        </v-btn>
    </v-snackbar>
</template>

<script>
export default {
    props: {
        value: {
            type: Boolean,
            required: true
        },
        text: {
            type: String,
            required: true
        }
    }
};
</script>
