<template>
    <v-lazy v-model="isActive" :options="{
        threshold: 0.5
    }" min-height="200" max-width="600px" transition="fade-transition">
        <!-- <a :href="property.link" target="_blank" rel="noopener noreferrer"> -->
        <article @click="submitForm">
            <div class="thumbnail">
                <img v-if="firstImageUrl" :src="firstImageUrl" alt="Imagem da Propriedade" />
                <img v-else src="/images/logo-imoveis.png" alt="" class="default-img"/>
            </div>
            <div class="content">
                <h2>{{ property.description }}</h2>
                <ul>
                    <li>
                        <b>Endereço:</b> <span>{{ property.address }}</span>
                    </li>
                    <li>
                        <b>Valor de avaliação (R$):</b>
                        <span>{{ property.avaliation_value }}</span>
                    </li>
                    <li>
                        <b>Valor do deságio (R$):</b>
                        <span>{{ formattedDiscount }}</span>
                    </li>
                </ul>
            </div>
        </article>
        <!-- </a> -->
    </v-lazy>
</template>

<script>
export default {
    name: "PropertyCard",

    props: ["property"],

    data: () => ({
        isActive: false
    }),

    computed: {
        firstImageUrl() {
            // console.log(this.property.images);
            try {
                if (this.property.images && this.property.images !== '') {
                    // Primeira desserialização para converter a string serializada em uma string normal
                    const jsonString = JSON.parse(this.property.images);

                    // Segunda desserialização para obter o array
                    const imagesArray = JSON.parse(jsonString);

                    return imagesArray.length > 0 ? imagesArray[0] : null;
                }
                return null;
            } catch (e) {
                console.error("Erro ao analisar as imagens da propriedade:", e);
                return null;
            }
        },

        formattedDiscount() {
            return this.calculateDiscount();
        }
    },

    methods: {
        submitForm() {
            if (!this.isValidHttpUrl(this.property.link)) {
                console.error('Link inválido ou vazio');
                return;
            }

            const form = document.createElement('form');
            form.method = 'post';
            form.action = 'https://venda-imoveis.caixa.gov.br/sistema/detalhe-imovel.asp';
            form.target = '_blank';

            const hiddenField = document.createElement('input');
            hiddenField.type = 'hidden';
            hiddenField.name = 'hdnimovel';
            hiddenField.value = this.property.link;

            form.appendChild(hiddenField);
            document.body.appendChild(form);
            form.submit();
        },

        isValidHttpUrl(string) {
            let url;

            try {
                url = new URL(string);
            } catch (_) {
                return false;
            }

            return url.protocol === "http:" || url.protocol === "https:";
        },

        formatToBRL(value) {
            const number = parseFloat(value);
            return number.toLocaleString("pt-BR", {
                style: "currency",
                currency: "BRL"
            });
        },

        calculateDiscount() {
            // Calculando o deságio
            const avaliationValue = parseFloat(this.property.avaliation_value.replace(".", "").replace(",", "."));
            const minValue = parseFloat(this.property.minimal_value.replace(".", "").replace(",", "."));
            const discount = avaliationValue - minValue;

            return this.formatToBRL(discount.toFixed(2));
        }
    }

};
</script>

<style lang="scss" scoped>
article {
    cursor: pointer;
    border-radius: 1rem;
    margin-bottom: 35px;
    // height: 167px;
    border: 1px solid #989898;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 15px 0px #ccc;

    .thumbnail {
        width: 30%;
        /* height: 100%; */
        background: #000000a1;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: stretch;
        max-height: 100%;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-top-left-radius: 16px;
            border-bottom-left-radius: 16px;
            transform: scale(1.04);
            object-position: top left;
            max-height: 200px;
            &.default-img{
                object-position: center;
                transform: none;
            }
        }
    }

    .content {
        padding: 10px;
        width: 70%;

        h2 {
            margin-right: 58px;
            font-size: 1.1rem;
            font-weight: 300;
            position: relative;
            height: 40px;
            overflow: hidden;
            padding-bottom: 0px;
        }

        ul {
            position: relative;

            &::before {
                content: "";
                width: 84%;
                height: 1px;
                position: absolute;
                background: #700b0d;
                left: 0;
                top: 15px;
            }

            padding: 20px 0 0 0;

            li {
                padding: 5px 0;
                display: flex;
                align-items: center;

                b {
                    margin-right: 10px;
                }

                &:first-of-type {
                    span {
                        height: 17px;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }

                &:nth-of-type(2),
                &:nth-of-type(3) {
                    span {
                        font-size: 25px;
                        font-weight: bold;
                        color: #424242;
                    }
                }
            }
        }
    }
}</style>
