<template>
    <v-container>
        <v-card class="mx-auto">
            <v-toolbar color="primary" dark>
                <v-toolbar-title>
                    Editar imóvel
                </v-toolbar-title>
            </v-toolbar>

            <v-card-text>
                <v-container>
                    <v-row>
                        <v-col class="ma-5" cols="12">
                            <v-subheader inset>
                                Endereço e localização
                            </v-subheader>
                            <v-divider inset></v-divider>
                        </v-col>

                        <v-col cols="12">
                            <input
                                class="autocomeplete-google"
                                ref="autocomplete"
                                required
                            />
                        </v-col>
                        <v-col cols="12">
                            <v-text-field
                                ref="address"
                                label="Endereço"
                                v-model="address"
                                name="address"
                                required
                                disabled
                            ></v-text-field>
                        </v-col>

                        <v-col cols="12" sm="6" md="4">
                            <v-text-field
                                label="Bairro*"
                                ref="neighborhood"
                                name="neighborhood"
                                v-model="neighborhood"
                                disabled
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                            <v-text-field
                                label="Cidade*"
                                v-model="city"
                                ref="city"
                                name="city"
                                required
                                disabled
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                            <v-text-field
                                label="Estado*"
                                v-model="state"
                                ref="state"
                                name="state"
                                required
                                disabled
                            ></v-text-field>
                        </v-col>

                        <v-col cols="12" sm="6">
                            <v-text-field
                                label="Latitude*"
                                hint="Latitude do imóvel para o Google maps"
                                v-model="latitude"
                                persistent-hint
                                disabled
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6">
                            <v-text-field
                                label="Longitude*"
                                hint="Longitude do imóvel para o Google maps"
                                v-model="longitude"
                                persistent-hint
                                disabled
                            ></v-text-field>
                        </v-col>

                        <v-col class="ma-5" cols="12">
                            <v-subheader inset>
                                Valores e formas de pagamento
                            </v-subheader>
                            <v-divider inset></v-divider>
                        </v-col>

                        <v-col cols="12" sm="6" md="4">
                            <v-text-field
                                prefix="R$"
                                label="Valor de avaliação*"
                                :value="item.avaliation_value"
                                name="avaliation_value"
                                @input.native="handleData($event)"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                            <v-text-field
                                prefix="R$"
                                label="Valor mínimo*"
                                :value="item.minimal_value"
                                name="minimal_value"
                                required
                                @input.native="handleData($event)"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                            <v-text-field
                                label="Desconto"
                                :value="item.discount"
                                name="discount"
                                @input.native="handleData($event)"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6">
                            <v-select
                                multiple
                                :items="['todos']"
                                label="Formas de pagamento*"
                                name="payment_method"
                                required
                            ></v-select>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                            <v-combobox
                                label="Módulo de venda"
                                v-model="data.sale_module"
                                :items="saleModules"
                                name="sale_module"
                                @input="handleData($event)"
                            ></v-combobox>
                        </v-col>

                        <v-col class="ma-5" cols="12">
                            <v-subheader inset>
                                Informações adicionais
                            </v-subheader>
                            <v-divider inset></v-divider>
                        </v-col>

                        <v-col cols="12">
                            <v-textarea
                                outlined
                                name="description"
                                label="Descrição"
                                :value="item.description"
                                @input.native="handleData($event)"
                            ></v-textarea>
                        </v-col>

                        <v-col cols="12" sm="6" md="4">
                            <v-combobox
                                label="Tipo de imóvel"
                                v-model="data.type"
                                :items="propertyTypes"
                                name="type"
                                @input="handleData($event)"
                            ></v-combobox>
                        </v-col>

                        <!-- <v-col cols="12" sm="6" md="4">
                            <v-checkbox
                                v-model="status"
                                label="Ativo"
                                name="status"
                            ></v-checkbox>
                        </v-col> -->

                        <v-col cols="10">
                            <v-text-field
                                label="Link anúncio"
                                v-model="item.link"
                                name="link"
                                @input.native="handleData($event)"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="2">
                            <v-btn color="primary" @click="goToLinkOrSubmitForm(item.link)">
                                Ir para o link
                            </v-btn>
                        </v-col>
                        <v-col class="ma-5" cols="12">
                            <v-subheader inset>
                                Galeria
                            </v-subheader>
                            <v-divider inset></v-divider>
                        </v-col>

                        <v-col cols="12">
                            <v-row>
                                <v-col cols="12" sm="4" v-for="(image, i) in getImageUrls(item.images)" :key="i">
                                    <v-img
                                        v-if="image.includes('images/imoveis')"
                                        tile
                                        :src="'/storage/'+image"
                                        :lazy-src="image"
                                        max-height="150"
                                        max-width="250"
                                    >
                                    </v-img>
                                    <v-img
                                        v-else
                                        tile
                                        :src="image"
                                        :lazy-src="image"
                                        max-height="150"
                                        max-width="250"
                                    >
                                    </v-img>
                                    <v-btn
                                        color="error"
                                        class="mt-3"
                                        @click="excluirImagem(image)"
                                    >
                                        <v-icon>mdi-trash-can</v-icon>
                                        Excluir
                                    </v-btn>
                                    <!-- <ImageInput v-model="file">
                                        <div slot="activator">
                                            <v-card
                                                max-height="300"
                                                max-width="300"
                                                link
                                                v-ripple="{
                                                    class: 'primary--text'
                                                }"
                                            >
                                                <v-img
                                                    v-if="file"
                                                    ref="image"
                                                    tile
                                                    :src="file.imageURL"
                                                    :lazy-src="file.imageURL"
                                                    alt="Thumbnail"
                                                />
                                                <v-img
                                                    v-else
                                                    tile
                                                    :src="image"
                                                    :lazy-src="image"
                                                >
                                                </v-img>
                                            </v-card>
                                        </div>
                                    </ImageInput> -->
                                </v-col>
                            </v-row>

                            <v-row>
                                <v-col
                                    cols="12"
                                    class="mt-3"
                                >
                                    <h4>Novas Imagens</h4>
                                    <v-divider></v-divider>

                                    <div class="mt-3">
                                        <UploadImages @change="handleImages"/>
                                    </div>
                                </v-col>
                            </v-row>
                        </v-col>
                    </v-row>
                </v-container>
                <small>
                    * indica que o campo é obrigatório
                </small>
            </v-card-text>

            <v-card-actions>
                <v-btn @click="update()" dark color="green">
                    SALVAR
                </v-btn>
            </v-card-actions>
        </v-card>

        <v-dialog persistent v-model="dialog_delete_image" width="500">
            <v-card>
                <v-card-title class="headline grey lighten-2">
                    Atenção
                </v-card-title>

                <v-card-text class="mt-3">
                    Tem certeza que deseja excluir esta imagem?
                    <span class="red--text">
                        Esta ação não poderá ser desfeita.
                    </span>
                </v-card-text>

                <v-divider></v-divider>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="error" @click="dialog_delete_image = false" style="margin-right: 20px;">
                        Não
                    </v-btn>
                    <v-btn color="success" @click="triggerDeleteImg()">
                        Sim
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-container>
</template>

<script>
import GoogleMapsApiLoader from "google-maps-api-loader";
import UploadImages from "vue-upload-drop-images";

export default {
    name: "editProperty",

    components: {
        ImageInput: () => import("../../../components/base/ImageInput"),
        UploadImages,
    },

    data() {
        return {
            address: this.$route.query.item.address,
            neighborhood: this.$route.query.item.neighborhood,
            city: this.$route.query.item.city,
            state: this.$route.query.item.state,
            latitude: this.$route.query.item.latitude,
            longitude: this.$route.query.item.longitude,
            galeria: null,
            data: [],
            item: this.$route.query.item,
            status: this.$route.query.item.status,
            google: null,
            apiKey: process.env.MIX_API_KEY,
            handyAttachments: [],
            dialog_delete_image: false,
            image_delete: null,
            saleModules: [],
            propertyTypes: [],
        };
    },

    computed: {
        name() {
            return this.data;
        }
    },

    methods: {
        logData(data) {
            console.log('DATA', data);
            return '';
        },

        goToLinkOrSubmitForm(link) {
            // Verifica se o link é um URL válido
            if (this.isValidHttpUrl(link)) {
                window.open(link, '_blank');
            } else {
                this.submitForm(link);
            }
        },

        isValidHttpUrl(string) {
            let url;

            try {
                url = new URL(string);
            } catch (_) {
                return false;
            }

            return url.protocol === "http:" || url.protocol === "https:";
        },

        submitForm(link) {
            if (!link) {
                console.error('Link está indefinido ou vazio');
                return;
            }

            const form = document.createElement('form');
            form.method = 'post';
            form.action = 'https://venda-imoveis.caixa.gov.br/sistema/detalhe-imovel.asp';
            form.target = '_blank';

            const hiddenField = document.createElement('input');
            hiddenField.type = 'hidden';
            hiddenField.name = 'hdnimovel';
            hiddenField.value = link;

            form.appendChild(hiddenField);
            document.body.appendChild(form);
            form.submit();
        },

        handleImages(files){
            this.galeria = files;
        },
        handleData({ target: { name, value } }) {
            this.data = { ...this.data, [name]: value };
        },

        excluirImagem(path){
            this.image_delete = path;
            this.dialog_delete_image = true;
        },
        triggerDeleteImg(){
            axios
                .post('/property/delete_image', {
                    id: this.item.id,
                    images: this.item.images,
                    path_delete: this.image_delete
                })
                .then(response => {
                    if(response.status == 200){
                        this.item.images = response.data.images;
                        this.dialog_delete_image = false;
                    }
                })
                .catch(error => {
                    console.error(error);
                    this.dialog_delete_image = false;
                });
        },

        getImageUrls(images) {
            if (typeof images === 'string') {
                try {
                    return JSON.parse(images);
                } catch (error) {
                    console.error('Erro ao fazer parse do JSON:', error);
                    return [];
                }
            } else if (Array.isArray(images)) {
                return images;
            } else {
                return [];
            }
        },

        async update() {
            const payload = new FormData();
            payload, { headers: {
                    'Content-Type': 'multipart/form-data'
                }
            }
            payload.set("address", this.address);
            payload.set("neighborhood", this.neighborhood);
            payload.set("state", this.state);
            payload.set("city", this.city);
            payload.set("latitude", this.latitude);
            payload.set("longitude", this.longitude);
            payload.set("status", this.status);
            for (const key in this.data) {
                if (Object.hasOwnProperty.call(this.data, key)) {
                    payload.set(key, this.data[key]);
                }
            }

            if (this.galeria) {
                for( var i = 0; i < this.galeria.length; i++ ){
                    let file = this.galeria[i];

                    payload.append('files[' + i + ']', file);
                }
            }
            payload.set("_method", "PUT");

            const response = await this.$http.post(
                `properties/${this.item.id}`,
                payload
            );
            this.$router.push({
                name: "imoveis",
                params: { RedirectEdit: true }
            });
        },

        async fetchSaleModules() {
        try {
            const response = await axios.get('/property/sale-modules');
            return response.data;
        } catch (error) {
            console.error('Erro ao buscar módulos de venda:', error);
            return [];
        }
        },

        async fetchPropertyTypes() {
            try {
                const response = await axios.get('/property/types');
                return response.data;
            } catch (error) {
                console.error('Erro ao buscar tipos de imóveis:', error);
                return [];
            }
        },
    },

    async mounted() {
        this.saleModules = await this.fetchSaleModules();
        this.propertyTypes = await this.fetchPropertyTypes();

        this.data.sale_module = this.item.sale_module;
        this.data.type = this.item.type;

        const googleMapApi = await GoogleMapsApiLoader({
            libraries: ["places"],
            apiKey: this.apiKey
        });
        this.google = googleMapApi;
        const places = new google.maps.places.Autocomplete(
            this.$refs.autocomplete
        );
        const self = this;
        google.maps.event.addListener(places, "place_changed", async () => {
            const place = await places.getPlace();

            const number = place.address_components[0].long_name;
            const address = place.address_components[1].long_name;
            const neighborhood = place.address_components[2].long_name;
            const city = place.address_components[3].long_name;
            const state = place.address_components[4].short_name;

            this.address = `${address}, ${number}`;
            this.neighborhood = neighborhood;
            this.city = city;
            this.state = state;
            this.latitude = JSON.stringify(place.geometry.location.lat());
            this.longitude = JSON.stringify(place.geometry.location.lng());
        });

        if (typeof this.item.images === 'string') {
            try {
                this.item.images = JSON.parse(this.item.images);
            } catch (error) {
                console.error('Erro ao fazer parse do JSON:', error);
            }
        }
    }
};
</script>

<style lang="scss">
.autocomeplete-google {
    width: 100% !important;
    padding: 10px !important;
    border: 2px solid #700b0d !important;
    border-radius: 5px !important;
    font-size: 17px !important;
}
</style>
