<template>
    <v-container>
        <div class="loader-container" v-if="!loaded">
            <Loader/>
        </div>
        <Snackbar v-model="snackbar" :text="text" />

        <v-dialog persistent v-model="dialog" width="500">
            <v-card>
                <v-card-title class="headline grey lighten-2">
                    Atenção
                </v-card-title>

                <v-card-text class="mt-3">
                    Deseja deletar este imóvel?
                    <small class="red--text">
                        Esta ação não pode ser desfeita
                    </small>
                </v-card-text>

                <v-divider></v-divider>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="error" @click="dialog = false">
                        CANCELAR
                    </v-btn>
                    <v-btn color="success" @click="triggerDelete()">
                        DELETAR
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-card class="mx-auto">
            <v-toolbar color="primary" dark>
                <v-toolbar-title>
                    Lista de imóveis
                </v-toolbar-title>
            </v-toolbar>
            <v-data-table :headers="headers" :items="properties" :search="search" sort-by="calories" class="elevation-1">
                <template v-slot:item.link="{ item }">
                    <v-btn small color="primary" @click="goToLinkOrSubmitForm(item.link)">
                        Abrir Link
                    </v-btn>
                </template>
                <template v-slot:top>
                    <v-toolbar flat>
                        <v-text-field v-model="search" append-icon="mdi-magnify" label="Buscar..." single-line
                            hide-details></v-text-field>
                        <v-spacer></v-spacer>
                        <v-btn color="green" dark class="mb-2" @click="newItem()">
                            Novo imóvel
                        </v-btn>
                    </v-toolbar>
                </template>
                <template v-slot:item.actions="item">
                    <v-icon small class="mr-2" @click="editItem(item)">
                        mdi-pencil
                    </v-icon>
                    <v-icon small @click="deleteItem(item)">
                        mdi-delete
                    </v-icon>
                </template>
            </v-data-table>
        </v-card>
    </v-container>
</template>

<script>
import { mapGetters } from "vuex";
import Loader from "../../../components/Loader.vue";

export default {
    name: "PropertyList",

    components: {
    Snackbar: () => import("../../../components/base/Snackbar"),
    Loader
},

    data: () => ({
        search: "",
        properties: [],
        isOpenAlert: false,
        dialog: false,
        headers: [
            {
                text: "Endereço",
                align: "start",
                sortable: true,
                value: "address"
            },
            {
                text: "Tipo",
                align: "start",
                sortable: true,
                value: "type"
            },
            {
                text: "Valor Avaliação",
                align: "start",
                sortable: true,
                value: "avaliation_value"
            },
            {
                text: "Valor Mínimo",
                align: "start",
                sortable: true,
                value: "minimal_value"
            },
            {
                text: "Link",
                align: "start",
                sortable: true,
                value: "link"
            },
            { text: "Ações", align: "end", value: "actions", sortable: false }
        ],
        editedIndex: -1,
        editedItem: {
            nome: ""
        },
        defaultItem: {
            nome: ""
        },
        item: {},
        id: null,
        snackbar: false,
        text: "",
        loaded: false,
    }),

    computed: {
        ...mapGetters("PropertyModule", ["properties_holder"])
    },

    async created() {
        await this.$store.dispatch("PropertyModule/FETCH_PROPERTIES");

        for (let i in this.properties_holder) {
            if (this.properties_holder.hasOwnProperty(i)) {
                this.properties.push(this.properties_holder[i]);
            }
        }

        this.loaded = true;
    },

    methods: {
        async deleteItem({ item: { id } }) {
            this.id = id;
            this.dialog = true;
        },

        async triggerDelete() {
            await this.$http.delete(`properties/${this.id}`);
            this.properties = await [];

            await this.$store.dispatch("PropertyModule/FETCH_PROPERTIES");
            for (let i in this.properties_holder) {
                if (this.properties_holder.hasOwnProperty(i)) {
                    this.properties.push(this.properties_holder[i]);
                }
            }

            this.dialog = false;
        },

        editItem({ item }) {
            this.$router.push({ name: "editImovel", query: { item: item } });
        },

        newItem() {
            this.$router.push({ name: "createImovel" });
        },

        goToLinkOrSubmitForm(link) {
            if (this.isValidHttpUrl(link)) {
                window.open(link, '_blank');
            } else {
                this.submitForm(link);
            }
        },

        isValidHttpUrl(string) {
            let url;

            try {
                url = new URL(string);
            } catch (_) {
                return false;
            }

            return url.protocol === "http:" || url.protocol === "https:";
        },

        submitForm(link) {
            if (!link) {
                console.error('Link está indefinido ou vazio');
                return;
            }

            const form = document.createElement('form');
            form.method = 'post';
            form.action = 'https://venda-imoveis.caixa.gov.br/sistema/detalhe-imovel.asp';
            form.target = '_blank';

            const hiddenField = document.createElement('input');
            hiddenField.type = 'hidden';
            hiddenField.name = 'hdnimovel';
            hiddenField.value = link;

            form.appendChild(hiddenField);
            document.body.appendChild(form);
            form.submit();
        },

        logData(data) {
            console.log('DATA', data);
            return '';
        },
    },

    mounted() {
        if (this.$route.params.RedirectEdit) {
            this.snackbar = true;
            this.text = "Imóvel editado com sucesso.";
        }

        if (this.$route.params.RedirectCreate) {
            this.snackbar = true;
            this.text = "Imóvel cadastrado com sucesso.";
        }
    }
};
</script>

<style>
.loader-container{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 1;
}
</style>
