<template>
    <v-container>
        <v-card class="mx-auto">
            <v-toolbar color="primary" dark>
                <v-toolbar-title>
                    Cadastrar Plano
                </v-toolbar-title>
            </v-toolbar>

            <v-card-text>
                <v-container>
                    <v-row>
                        <v-col cols="12" md="6">
                            <v-text-field
                                label="Título *"
                                name="title"
                                v-model="title"
                                required
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" md="6">
                            <v-text-field
                                label="Valor *"
                                name="valor"
                                v-model="valor"
                                type="number"
                                prefix="R$"
                                hint="Ex: R$ 50.00"
                                persistent-hint
                                required
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" md="6">
                            <v-text-field
                                label="Tempo para edição após publicação *"
                                name="tempo_edicao"
                                type="number"
                                v-model="tempo_edicao"
                                hint="Tempo em dias"
                                persistent-hint
                                suffix="dias"
                                required
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" md="6">
                            <v-text-field
                                label="Quantidade de imóveis no plano *"
                                name="qtd_imoveis"
                                v-model="qtd_imoveis"
                                type="number"
                                required
                            ></v-text-field>
                        </v-col>
                    </v-row>
                </v-container>
                <small>* indica que o campo é obrigatório</small>
            </v-card-text>

            <v-card-actions>
                <v-btn
                    :loading="loading"
                    dark
                    color="green"
                    @click="update()"
                >
                    SALVAR
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-container>
</template>
<script>
export default {
    name: 'EditPlanos',
    data(){
        return {
            loading: false,
            data: [],
            qtd_imoveis: this.$route.query.item.qtd_imoveis,
            tempo_edicao: this.$route.query.item.tempo_edicao,
            valor: this.$route.query.item.valor,
            title: this.$route.query.item.title,
            item: this.$route.query.item,
        }
    },

    methods: {
        async update() {
            this.loading = true;
            const payload = new FormData();
            payload.set("title", this.title);
            payload.set("valor", this.valor);
            payload.set("tempo_edicao", this.tempo_edicao);
            payload.set("qtd_imoveis", this.qtd_imoveis);
            payload.set("_method", "PUT");

            const response = await this.$http.post("planos/"+this.item.id, payload);
            this.loading = false;

            this.$router.push({
                name: "planos",
                params: { redirectEdit: true }
            });
        },
    },
}
</script>
