<template>
	<v-container>
		<v-row>
			<v-col cols="12">
				<v-card class="mx-auto mb-3 px-5" v-if="plano != '' && plano.plano != '' && plano.plano != null">
					<div>Meu plano</div>
					<p class="display-1 text--primary">{{plano.plano.title}}</p>
					<p>Detalhes</p>

					<v-list flat>
						<v-list-item-group
							v-model="selectedItem"
							color="info"
						>
							<v-list-item class="pl-0">
								<v-list-item-icon class="mr-2">
									<v-icon>mdi-arrow-right-thick</v-icon>
								</v-list-item-icon>
								<v-list-item-content>
									<v-list-item-title class="subtitle">
										Quantidade de anúncios:
										{{plano.plano.qtd_imoveis}}
									</v-list-item-title>
								</v-list-item-content>
							</v-list-item>

							<v-list-item class="pl-0">
								<v-list-item-icon class="mr-2">
									<v-icon>mdi-arrow-right-thick</v-icon>
								</v-list-item-icon>
								<v-list-item-content>
									<v-list-item-title class="subtitle">
										Tempo de edição após publicação:
										{{plano.plano.tempo_edicao}} dias
									</v-list-item-title>
								</v-list-item-content>
							</v-list-item>

							<v-list-item class="pl-0">
								<v-list-item-icon class="mr-2">
									<v-icon>mdi-arrow-right-thick</v-icon>
								</v-list-item-icon>
								<v-list-item-content>
									<v-list-item-title class="subtitle">
										Você ainda possui {{anuncios_restante}} anúncios
									</v-list-item-title>
								</v-list-item-content>
							</v-list-item>
						</v-list-item-group>
					</v-list>
				</v-card>
			</v-col>
		</v-row>

		<v-row>
			<v-col cols="12" md="4" v-for="plan in planos" :key="plan.id">
				<v-card class="mx-auto" max-width="344">
					<v-card-text>
						<div>Nome do plano</div>
						<p class="display-1 text--primary">{{ plan.title }}</p>
						<p>Detalhes</p>
						<v-list flat>
							<v-list-item-group
								v-model="selectedItem2"
								color="info"
							>
								<v-list-item class="pl-0">
									<v-list-item-icon class="mr-2">
										<v-icon>mdi-arrow-right-thick</v-icon>
									</v-list-item-icon>
									<v-list-item-content>
										<v-list-item-title class="subtitle">
											Quantidade de anúncios:
											{{ plan.qtd_imoveis }}
										</v-list-item-title>
									</v-list-item-content>
								</v-list-item>

								<v-list-item class="pl-0">
									<v-list-item-icon class="mr-2">
										<v-icon>mdi-arrow-right-thick</v-icon>
									</v-list-item-icon>
									<v-list-item-content>
										<v-list-item-title class="subtitle">
											Tempo de edição após publicação:
											{{ plan.tempo_edicao }} dias
										</v-list-item-title>
									</v-list-item-content>
								</v-list-item>
							</v-list-item-group>
						</v-list>
					</v-card-text>
					<v-card-actions class="justify-center">
						<v-btn
                            color="info"
                            dark
                            @click="triggerContratar(plan)"
                        > Contratar plano </v-btn>
					</v-card-actions>
				</v-card>
			</v-col>
		</v-row>

		<v-dialog
            transition="dialog-bottom-transition"
            max-width="600"
            v-model="dialog"
        >
            <v-card>
                <v-toolbar
                    color="info"
                    dark
                    class="headline"
                >
                    Contratação de plano
                </v-toolbar>
                <v-card-text>
                    <div class="pt-10">
                        <v-alert
                            outlined
                            type="warning"
                            prominent
                            border="left"
                        >
                            Você está contratando o plano
                            <div class="text-h3 pt-3">
                                {{nome_plano}}
                            </div>
                        </v-alert>
                    </div>
                </v-card-text>
                <v-card-actions class="justify-end">
                    <v-btn
                        :loading="loading"
                        color="success"
                        @click="contratarPlano()"
                    >Contratar</v-btn>
                    <v-btn @click="dialog = false">Cancelar</v-btn>
                </v-card-actions>
            </v-card>
		</v-dialog>

	</v-container>
</template>
<script>
export default {
	name: "planosClient",

	data: () => ({
		planos: [],
		selectedItem: 0,
		selectedItem2: 0,
		dialog: false,
        nome_plano: null,
        plano: '',
        id_plano_contratado: null,
        loading: false,

	}),

	methods: {
		async fecthPlanos() {
			const response = await this.$http.get("/planos");
			const { planos } = response.data;
			this.planos = planos;
		},

        async fetchPlano(){
            const response = await this.$http.get("/anunciante/plano");
            this.plano = response.data;
            if(this.plano.plano.qtd_imoveis > this.plano.qtd_publicados_plano){
                this.anuncios_restante = this.plano.plano.qtd_imoveis - this.plano.qtd_publicados_plano;
            }
        },

        triggerContratar(plano){
            this.nome_plano = plano.title;
            this.id_plano_contratado = plano.id;
            this.dialog = true;
        },

        async contratarPlano(){
            this.loading = true;
            const response = await this.$http.get('/anunciante/contratar_plano/'+this.id_plano_contratado);
            let data = response.data;
            console.log(data);
            this.requestPlano(data);
        },

        requestPlano(data){
            const mp = new MercadoPago(data.public_key, {
                locale: 'pt-BR'
            });
            mp.checkout({
                preference: {
                    id: data.preference_id
                },
                autoOpen: true,
            });
        },
	},

	created() {
        this.fetchPlano();
		this.fecthPlanos();
	},

    mounted() {
        let mercadopagoScript = document.createElement('script');
        mercadopagoScript.setAttribute('src', 'https://sdk.mercadopago.com/js/v2');
        document.head.appendChild(mercadopagoScript);
    },
};
</script>

<style>
    .subtitle{
        white-space: normal !important;
    }
</style>

