<template>
    <section class="blog">
        <div class="al-container al-mobile-container">
            <h1>Blog</h1>
            <div class="cards">
                <article
                    v-ripple
                    @click="navigate(post.id)"
                    v-for="(post, i) in posts"
                    :key="i"
                >
                    <div class="thumbnail">
                        <img v-if="post.thumbnail != null" :src="post.thumbnail" :alt="post.title" :title="post.title"/>
                        <img v-else src="/images/logo.png" :alt="post.title" :title="post.title"/>
                    </div>
                    <div class="content">
                        <h2>{{ post.title }}</h2>
                        <span> {{ format_date(post.created_at) }} </span>
                    </div>
                </article>
            </div>
        </div>
    </section>
</template>

<script>
import moment from "moment";
moment.locale("pt-br");

export default {
    name: "blog",

    data() {
        return {
            posts: []
        };
    },

    methods: {
        async fetchPosts() {
            const response = await this.$http.get("posts");
            const { posts } = response.data;
            this.posts = posts;
        },

        format_date(value) {
            if (value) {
                return moment(String(value)).format("DD MMMM YYYY");
            }
        },

        navigate(id) {
            this.$router.push({ path: "post", query: { id: id } });
        }
    },

    created() {
        this.fetchPosts();
    }
};
</script>

<style lang="scss">
.blog {
    padding-top: 60px;
    > div {
        h1 {
            padding: 20px 0;
            font-size: 50px;
            position: relative;
            font-weight: bold;
            &::before {
                content: "";
                display: inline-block;
                width: 15px;
                height: 5px;
                background: #700b0d;
                vertical-align: middle;
                margin-right: 6px;
            }
        }

        .cards {
            display: flex;
            flex-wrap: wrap;
            article {
                width: 30%;
                margin-right: 4%;
                margin-bottom: 50px;
                &:hover {
                    cursor: pointer;
                }
                @media (max-width: 600px) {
                    width: 100%;
                }
                &:nth-of-type(3n) {
                    margin-right: 0;
                }
                .thumbnail {
                    height: 250px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .content {
                    position: relative;
                    &::after {
                        content: "";
                        width: 100%;
                        background: #b1b1b1;
                        height: 1px;
                        position: absolute;
                        left: 0;
                        bottom: -8px;
                    }
                    h2 {
                        font-weight: 100;
                        line-height: 1.7;
                        font-size: 22px;
                        color: #2e2e2e;
                    }
                    span {
                        color: #737373;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
</style>
