<template>
    <section class="contato">
        <Snackbar v-model="dialog" :text="text" />
        <div class="al-container">
            <h1>Contato</h1>

            <div class="left-right-content">
                <div class="left">
                    <p>
                        Será um prazer ajudar a esclarecer todas as suas
                        solicitações e dúvidas. Envie suas sugestões ou críticas
                        para que nosso escritório possa evoluir em seu
                        atendimento.
                    </p>
                    <p>
                        Fale com a nossa equipe através do formulário ao lado:
                    </p>

                    <div class="info">
                        <img src="/images/phone.png" alt="" />
                        <span>+55 47 9 9999-6655</span>
                    </div>

                    <div class="info">
                        <img src="/images/mail.png" alt="" />
                        <span>email@contato.com.br</span>
                    </div>
                </div>
                <div class="right">
                    <form action="">
                        <input
                            name="name"
                            type="text"
                            placeholder="Nome*"
                            required
                            @input="handleData($event)"
                        />
                        <input
                            name="email"
                            type="email"
                            placeholder="E-mail*"
                            required
                            @input="handleData($event)"
                        />
                        <input
                            name="subject"
                            type="text"
                            placeholder="Assunto*"
                            required
                            @input="handleData($event)"
                        />

                        <textarea
                            name="message"
                            cols="30"
                            rows="10"
                            required
                            placeholder="Mensagem*"
                            @input="handleData($event)"
                        ></textarea>

                        <div class="submit">
                            <v-btn
                                :loading="loading"
                                @click="sendEmail()"
                                :disabled="handleValidInput"
                            >
                                Enviar!
                            </v-btn>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    name: "Contato",

    components: {
        Snackbar: () => import("../../components/base/Snackbar")
    },

    computed: {
        handleValidInput() {
            if (
                (this.data.name != null ** this.data.email) != null &&
                this.data.subject != null &&
                this.data.message != null
            ) {
                return false;
            } else {
                return true;
            }
        }
    },

    data() {
        return {
            dialog: false,
            loading: false,
            text: "",
            data: []
        };
    },

    methods: {
        handleData({ target: { name, value } }) {
            this.data = { ...this.data, [name]: value };
        },

        async sendEmail() {
            this.loading = true;
            const response = await this.$http.post("/contact", this.data);
            this.dialog = true;
            this.text = "E-mail enviado com sucesso!";
            this.loading = false;
        }
    }
};
</script>

<style lang="scss" scoped>
.contato {
    > div {
        h1 {
            padding: 20px 0;
            font-size: 50px;
            position: relative;
            font-weight: bold;
            &::before {
                content: "";
                display: inline-block;
                width: 15px;
                height: 5px;
                background: #700b0d;
                vertical-align: middle;
                margin-right: 6px;
            }
        }
        .left-right-content {
            .left {
                vertical-align: top;
                p {
                    color: #3f3f3f;
                    font-size: 18px;
                    &:first-of-type {
                        padding-bottom: 30px;
                    }
                    &:nth-of-type(2) {
                        padding-bottom: 50px;
                    }
                }

                .info {
                    display: flex;
                    margin-bottom: 20px;
                    img {
                        margin-right: 10px;
                        width: 33px;
                        height: 33px;
                        object-fit: contain;
                    }
                    span {
                        font-weight: 100;
                        font-size: 25px;
                        color: #3f3f3f;
                    }
                }
            }
            .right {
                vertical-align: top;

                form {
                    width: 70%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin: 0 auto;
                    input,
                    textarea {
                        border: 1px solid #e1e1e1;
                        padding: 5px;
                        margin-bottom: 14px;
                        border-radius: 5px;
                    }

                    .submit {
                        margin-bottom: 50px;
                        margin-top: 20px;
                        button {
                            color: #fff;
                            background: #3fa255;
                            padding: 7px 80px;
                            font-size: 20px;
                            border-radius: 6px;
                        }
                    }
                }
            }
        }
    }
}
</style>
