<template>
    <section class="imoveis">
        <div class="scroll-content">
            <Loader v-if="!loaded" />
            <div v-else>
                <div class="al-container al-mobile-container">
                    <div class="left-right-content">
                        <div class="left">
                            <h1>Imóveis perto de você</h1>
                            <!-- <v-btn
                                :disabled="disabled"
                                class="btn-uncheck"
                                @click.native="uncheck()"
                            >
                                Limpar filtros
                            </v-btn> -->
                            <div class="search-box">
                                <Search v-for="(item, i) in items" :key="i" :item="item" v-model="checked" />
                            </div>

                            <div class="slider-container">
                                <v-range-slider
                                    v-model="priceRange"
                                    :min="minPrice"
                                    :max="maxPrice"
                                    :step="currentStep"
                                    thumb-label
                                    always-dirty
                                    @mousedown.native="onMouseDown"
                                    @mouseup.native="onMouseUp"
                                    @mouseleave.native="onMouseUp"
                                    class="custom-slider-bg"
                                ></v-range-slider>
                                <div class="price-labels">
                                    <label>
                                        <b>Avaliação Mínima:</b>
                                        <input type="number" v-model="minInput" @change="validatePriceRange" />
                                    </label>
                                    <label>
                                        <b>Avaliação Máxima:</b>
                                        <input type="number" v-model="maxInput" @change="validatePriceRange" />
                                    </label>
                                </div>
                            </div>
                            <div v-if="properties.length === 0" class="no-properties">
                                Nenhum imóvel encontrado
                            </div>

                            <Card v-for="property in properties" :key="property.id" :property="property" />
                        </div>
                        <div class="right"></div>
                    </div>
                </div>
                <TravelMap class="travel-map" />
            </div>
        </div>

        <div class="newsletter">
            <div class="al-container al-mobile-container">
                <div class="left-right-content">
                    <div class="left">
                        <p>
                            Receba um aviso <br />
                            com novos imóveis
                        </p>
                        <p>
                            Cadastre seu e-mail e <br />
                            fique por dentro de nossas novidades.
                        </p>
                    </div>
                    <div class="right">
                        <div>
                            <input placeholder="Digite seu e-mail..." type="email" />
                            <v-btn color="#f0b32f" :loading="false">
                                ENVIAR
                            </v-btn>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import Loader from "../../components/Loader";
import Card from "../../components/Card";
import TravelMap from "../../components/Maps/TravelMap";
import Search from "../../components/search/Search";

import { mapGetters } from "vuex";

export default {
    name: "Home",

    components: {
        Loader,
        Card,
        TravelMap,
        Search
    },

    data() {
        return {
            loaded: false,
            items: [
                { name: "Tipo de venda", value: "sale_module" },
                { name: "Tipo de imóvel", value: "type" }
                // { name: "Forma de pagamento", value: "payment_method" }
            ],
            checked: [],
            minPrice: 0,
            maxPrice: 10000000,
            priceRange: [0, 10000000],
            currentStep: 10000,
            regularStep: 10000,
            clickStep: 250000,
            minInput: null,
            maxInput: null,
        };
    },

    filters: {
        currency(value) {
            return new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' }).format(value);
        }
    },

    watch: {
        priceRange(newRange) {
            this.minInput = newRange[0];
            this.maxInput = newRange[1];
            this.filterPropertiesByPrice(newRange);
        }
    },

    computed: {
        ...mapGetters("PropertyModule", [
            "properties",
            "properties_holder",
            "properties_holder_filter",
            "mapCenter"
        ]),

        ...mapGetters("FiltersModule", ["filters"]),

        disabled() {
            return this.filters != "" ? false : true;
        }
    },

    async created() {
        this.minInput = this.priceRange[0];
        this.maxInput = this.priceRange[1];

        if (this.mapCenter == "") {
            await this.$store.dispatch("PropertyModule/FETCH_CURRENT_LOCATION");
        }

        // await this.$store.dispatch("PropertyModule/FETCH_PROPERTIES_PUBLISHED");

        // console.log("Properties recebidas do backend:", this.properties);

        // await this.$store.dispatch("PropertyModule/FETCH_PROPERTIES");
        await this.$store.commit(
            "PropertyModule/MUTATE_LOCATIONS",
            this.properties_holder
        );

        this.loaded = true;
    },

    methods: {
        async uncheck() {
            const checkboxes = document.querySelectorAll(
                " input[type=checkbox] "
            );
            for (const key in checkboxes) {
                if (checkboxes[key].parentElement) {
                    checkboxes[key].checked = await false;
                    checkboxes[key].parentElement.classList.remove("active");
                }
            }

            // await this.$store.commit("FiltersModule/DELETE_FILTERS");

            this.$store.commit("PropertyModule/MUTATE_PROPERTIES", {
                properties: this.properties_holder_filter,
                filters: this.$store.getters["FiltersModule/activeFilters"]
            });

        },

        logData(data) {
            console.log('DATA', data);
            return '';
        },

        async filterPropertiesByPrice([minPrice, maxPrice]) {
            this.loading = true;

            if (minPrice != 0 || maxPrice != 1000000) {

                // this.$store.commit("FiltersModule/DELETE_FILTERS");

                this.$store.commit("PropertyModule/MUTATE_PROPERTIES", {
                    properties: this.properties_holder_filter,
                    filters: this.$store.getters["FiltersModule/activeFilters"]
                });

                const priceRangeFilter = { minPrice, maxPrice };

                await this.$store.commit(
                    "FiltersModule/MUTATE_FILTERS",
                    priceRangeFilter
                );

                this.$store.commit("PropertyModule/MUTATE_PROPERTIES", {
                    properties: this.properties_holder_filter,
                    filters: this.$store.getters["FiltersModule/activeFilters"]
                });

            } else {
                // this.$store.commit("FiltersModule/DELETE_FILTERS");

                this.$store.commit("PropertyModule/MUTATE_PROPERTIES", {
                    properties: this.properties_holder_filter,
                    filters: this.$store.getters["FiltersModule/activeFilters"]
                });
            }

            this.loading = false;
        },

        onMouseDown() {
            this.currentStep = this.clickStep;
        },

        onMouseUp() {
            this.currentStep = this.regularStep;
        },

        validatePriceRange() {
            let newMinPrice = parseInt(this.minInput, 10) || this.minPrice;
            let newMaxPrice = parseInt(this.maxInput, 10) || this.maxPrice;

            newMinPrice = Math.max(this.minPrice, newMinPrice);
            newMaxPrice = Math.min(this.maxPrice, newMaxPrice);

            if (newMinPrice > newMaxPrice) {
                newMaxPrice = newMinPrice;
            }
            this.priceRange = [newMinPrice, newMaxPrice];
            console.log('this.priceRange', this.priceRange);
        }
    }
};
</script>

<style lang="scss" scoped>
.search-box {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
}

.btn-uncheck {
    position: absolute;
    right: 15%;
    top: 50px;
}

.slider-container {
    margin: 20px 0;
}

.price-labels {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    input{
        padding: 5px;
        border: 1px solid #7d7d7d;
        border-radius: 17px;
    }
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type="number"] {
        -moz-appearance: textfield;
    }
    input[type="number"]::-ms-clear,
    input[type="number"]::-ms-reveal {
        display: none;
    }
}

::v-deep .custom-slider-bg{
    .v-slider__track-fill , .v-slider__thumb {
        background: #700b0d !important;
    }
    .v-input__slot{
        margin-bottom: 0px !important;
    }

    .v-messages{
        min-height: 0px !important;
    }

    .v-slider__thumb-label{
        font-size: 0 !important;
    }
}

.theme--light.v-input, .theme--light.v-input input, .theme--light.v-input textarea {
    color: #700b0d !important;
}

</style>
