<template>
    <div>
        <Header />
        <transition name="fade" mode="out-in">
            <slot>
                <router-view />
            </slot>
        </transition>
        <Footer />
    </div>
</template>

<script>
const Header = () => import("../../components/landingPage/Header");
const Footer = () => import("../../components/landingPage/Footer");

export default {
    components: {
        Header,
        Footer
    }
};
</script>

<style lang="scss">
@import "@/landingPage/";
</style>
