<template>
    <div class="intro">
        <div class="mobile-warning">
            <div class="warning-content">
                <article>
                    <p>
                        A versão mobile deste produto ainda não está finalizada.
                    </p>
                    <p>Favor acessar via Desktop.</p>
                </article>
            </div>
        </div>

        <header>
            <div class="stripe">
                <div class="al-container al-mobile-container">
                    <ul class="navbar-options">
                        <li v-for="(link, i) in mdi_links" :key="i">
                            <router-link v-if="link.name" :to="link.route">
                                {{ link.name }}
                            </router-link>
                            <router-link v-else :to="link.route">
                                <v-icon color="#fff">
                                    {{ link.icon }}
                                </v-icon>
                            </router-link>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="header-brand">
                <div class="al-container al-mobile-container">
                    <div class="logo">
                        <img src="/images/logo.png" alt="Logo" />
                    </div>
                    <ul class="navbar-options">
                        <li v-for="(link, i) in links" :key="i">
                            <router-link v-if="link.name" :to="link.route">
                                {{ link.name }}
                            </router-link>
                            <router-link v-else :to="link.route">
                                <v-icon color="#fff">
                                    {{ link.icon }}
                                </v-icon>
                            </router-link>
                        </li>
                    </ul>
                </div>
            </div>
        </header>

        <div class="search-box">
            <div class="background-search"></div>
            <div class="al-container">
                <div class="search">
                    <input
                        ref="address"
                        type="text"
                        placeholder="Digite aqui..."
                    />
                    <v-btn
                        :disabled="disabled"
                        @click="navigate"
                        class="search-submit"
                    >
                        <v-icon size="16" color="#FFF">fas fa-search</v-icon>
                    </v-btn>
                </div>
            </div>
        </div>

        <Footer />
    </div>
</template>

<script>
import GoogleMapsApiLoader from "google-maps-api-loader";
export default {
    name: "Header",

    components: {
        Footer: () => import("../../components/landingPage/Footer")
    },

    data() {
        return {
            links: [
                // {
                //     name: "QUEM SOMOS",
                //     route: { name: "" }
                // },
                {
                    name: "BLOG",
                    route: { name: "blog" }
                },
                {
                    name: "FALE CONOSCO",
                    route: { name: "contato" }
                },
                {
                    name: "ENTRAR",
                    route: { name: "login" }
                },
            ],

            mdi_links: [
                {
                    icon: "mdi-instagram",
                    route: { name: "" }
                },
                {
                    icon: "mdi-facebook",
                    route: { name: "" }
                }
            ],
            loading: true,
            disabled: true,
            google: null,
            apiKey: process.env.MIX_API_KEY
        };
    },

    methods: {
        navigate() {
            this.$router.push({ name: "home" });
        }
    },

    async mounted() {
        const googleMapApi = await GoogleMapsApiLoader({
            libraries: ["places"],
            apiKey: this.apiKey
        });
        this.loading = await false;
        this.google = googleMapApi;
        const places = new google.maps.places.Autocomplete(this.$refs.address);
        const self = this;
        google.maps.event.addListener(places, "place_changed", async () => {
            const place = await places.getPlace();

            const componentMap = {
                administrative_area_level_2: "administrative_area_level_2"
            };

            for (let i = 0; i < place.address_components.length; i++) {
                const types = place.address_components[i].types;
                for (let j = 0; j < types.length; j++) {
                    const component_type = types[j];
                    if (componentMap.hasOwnProperty(component_type)) {
                        await self.$store.commit(
                            "PropertyModule/MUTATE_MAPCENTER",
                            place.geometry
                        );
                        this.disabled = false;
                    }
                }
            }
        });
    }
};
</script>

<style lang="scss">
.mobile-warning {
    padding: 0 20px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    @media (min-width: 1080px) {
        display: none;
    }
    .warning-content {
        margin: 1.75rem auto;
        position: relative;
        width: auto;
        box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
        border-radius: 1rem;
        pointer-events: none;
        bottom: 0;
        article {
            padding: 20px;
            position: absolute;
            display: flex;
            flex-direction: column;
            width: 100%;
            pointer-events: auto;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 1rem;
            outline: 0;
            height: 150px;
            p {
                font-size: 20px;
                font-weight: bold;
            }
        }
    }
}

@import "@/landingPage/";
</style>
