<template>
    <section class="post">
        <div class="al-container">
            <article>
                <div class="thumbnail">
                    <img v-if="post.thumbnail != null" :src="post.thumbnail" :alt="post.title" :title="post.title"/>
                    <img v-else src="/images/logo.png" :alt="post.title" :title="post.title"/>
                </div>
                <div class="content">
                    <p>{{ post.description }}</p>
                </div>
            </article>
        </div>
    </section>
</template>

<script>
export default {
    name: "Post",

    data() {
        return {
            post: [],
            id: this.$route.query.id
        };
    },

    methods: {
        async fetchPost() {
            const response = await this.$http.get(`posts/${this.id}`);
            const { post } = response.data;
            this.post = post;
        }
    },

    created() {
        this.fetchPost();
    }
};
</script>

<style lang="scss">
section.post {
    article {
        padding: 100px 0;
        .thumbnail {
            width: 100%;
            height: 500px;
            margin: 20px 0;
            box-shadow: 10px 10px 10px #ccc;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .content {
            margin-top: 50px;
            padding: 0 20px;
        }
    }
}
</style>
