<template>
	<section class="register" data-app>
		<v-container>
			<h1>Cadastre-se</h1>

			<v-card class="mx-auto">
				<v-toolbar color="primary" dark class="toolbar">
					<v-toolbar-title> </v-toolbar-title>
				</v-toolbar>

				<v-card-text>
					<v-container>
						<v-row>
							<v-col cols="12" md="6">
								<v-text-field
									label="Nome *"
									name="name"
									v-model="nome"
									required
								></v-text-field>
							</v-col>
							<v-col cols="12" md="6">
								<v-text-field
									label="E-mail *"
									name="email"
									v-model="email"
									required
								></v-text-field>
							</v-col>
							<v-col cols="12" md="6">
								<v-text-field
									label="CPF/CNPJ *"
									v-mask="[
										'###.###.###-##',
										'##.###.###/####-##',
									]"
									name="cpfcnpj"
									v-model="cpfcnpj"
									required
								></v-text-field>
							</v-col>
							<v-col cols="12" md="6">
								<v-text-field
									:append-icon="
										show1 ? 'mdi-eye' : 'mdi-eye-off'
									"
									:type="show1 ? 'text' : 'password'"
									v-model="password"
									label="Senha *"
									required
									autocomplete="new"
									name="password"
									@click:append="show1 = !show1"
								></v-text-field>
							</v-col>
						</v-row>
					</v-container>
					<small>* indica que o campo é obrigatório</small>
				</v-card-text>

				<v-card-actions>
					<v-btn
						:loading="loading"
						dark
						color="green"
						@click="createPost()"
						class="btn-success"
					>
						Cadastrar
					</v-btn>
				</v-card-actions>
			</v-card>

            <v-dialog
                v-model="dialog"
                persistent
                max-width="400"
            >
                <v-card>
                    <v-card-title class="headline">
                        Usuário criado com sucesso!
                    </v-card-title>
                    <v-card-text>
                        Seu usuário foi criado com sucesso e você já pode entrar no sistema para escolher um plano e começar a cadastrar seus anúncios. Ou se preferir, pode voltar ao site e continuar navegando.
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="green darken-1" text @click="redirectSite()">
                            Permanecer no site
                        </v-btn>
                        <v-btn color="green darken-1" text @click="redirectLogin()">
                            Ir para login
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>

		</v-container>
	</section>
</template>

<script>
import { TheMask } from "vue-the-mask";
export default {
	components: { TheMask },

	name: "Register",

	data() {
		return {
			loading: false,
			data: [],
			nome: null,
			email: null,
			cpfcnpj: null,
			password: null,
			show1: false,
            dialog: false,
		};
	},

	methods: {
		async createPost() {
			this.loading = true;
			const payload = new FormData();
			payload.set("name", this.nome);
			payload.set("email", this.email);
			payload.set("cpfcnpj", this.cpfcnpj);
			payload.set("password", this.password);

			const response = await this.$http.post("/auth/register", payload);
			if (response.status == 200) {
                this.loading = false;
                this.dialog = true;
			}

		},

        redirectLogin(){
            this.$router.push({
			    name: "login",
			});
        },

        redirectSite(){
            this.$router.push({
			    name: "home",
			});
        }
	},
};
</script>

<style lang="scss" scoped>
.register {
	padding-bottom: 70px;
	h1 {
		padding: 20px 0;
		font-size: 50px;
		position: relative;
		font-weight: bold;
		&::before {
			content: "";
			display: inline-block;
			width: 15px;
			height: 5px;
			background: #700b0d;
			vertical-align: middle;
			margin-right: 6px;
		}
	}

	.btn-success {
		background-color: green !important;
		padding: 0 20px !important;
	}
	.toolbar {
		background: #700b0d !important;
	}
	.v-card__actions {
		justify-content: center;
	}
}
</style>
