<template>
    <v-container>
        <v-card class="mx-auto">
            <v-toolbar color="primary" dark>
                <v-toolbar-title>
                    Cadastrar Usuário
                </v-toolbar-title>
            </v-toolbar>

            <v-card-text>
                <v-container>
                    <v-row>
                        <v-col cols="12" md="6">
                            <v-text-field
                                label="Nome *"
                                name="name"
                                v-model="nome"
                                required
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" md="6">
                            <v-text-field
                                label="E-mail *"
                                name="email"
                                v-model="email"
                                required
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" md="6">
                            <v-text-field
                                label="CPF/CNPJ *"
                                v-mask="['###.###.###-##', '##.###.###/####-##']"
                                name="cpfcnpj"
                                v-model="cpfcnpj"
                                required
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" md="6">
                            <v-text-field
                                :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                                :type="show1 ? 'text' : 'password'"
                                v-model="password"
                                label="Senha *"
                                required
                                autocomplete="new"
                                name="password"
                                @click:append="show1 = !show1"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" md="6">
                            <v-select
                                v-model="tipo"
                                label="Tipo *"
                                :items="items"
                                item-text="text"
                                item-value="value"
                                name="role"
                                required
                            ></v-select>
                        </v-col>
                        <v-col cols="12" md="6">
                            <v-select
                                v-if="tipo == 'client'"
                                v-model="plano"
                                label="Plano *"
                                :items="items_planos"
                                item-text="text"
                                item-value="value"
                                name="plano"
                                required
                            ></v-select>
                        </v-col>
                    </v-row>
                </v-container>
                <small>* indica que o campo é obrigatório</small>
            </v-card-text>

            <v-card-actions>
                <v-btn
                    :loading="loading"
                    dark
                    color="green"
                    @click="createPost()"
                >
                    SALVAR
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-container>
</template>

<script>
import {TheMask} from 'vue-the-mask';
export default {
    components: {TheMask},

    name: "CreateUsers",

    data() {
        return {
            loading: false,
            data: [],
            nome: null,
            email: null,
            cpfcnpj: null,
            password: null,
            show1: false,
            tipo: null,
            plano: null,
            items: [
                {text: 'Administrador', value: 'admin'},
                {text: 'Anunciante', value: 'client'},
            ],
            items_planos: []
        };
    },

    methods: {
        async createPost() {
            this.loading = true;
            const payload = new FormData();
            payload.set("name", this.nome);
            payload.set("email", this.email);
            payload.set("cpfcnpj", this.cpfcnpj);
            payload.set("password", this.password);
            payload.set("role", this.tipo);
            payload.set("plano", this.plano);

            const response = await this.$http.post("/users", payload);
            this.loading = false;

            this.$router.push({
                name: "users",
                params: { redirectCreate: true }
            });
        },

        async fecthPlanos() {
            const response = await this.$http.get("/planos");
            const { planos } = response.data;
            for (let plano of planos){
                this.items_planos.push({text: plano.title, value:plano.id});
            }
        },
    },

    created() {
        this.fecthPlanos();
    },
};
</script>
