<template>
    <div>
        <button v-ripple @click="fetch_options(item)">
            {{ item.name }}
        </button>

        <div ref="box" class="search-content">
            <span>
                <v-icon @click.native="closeBox()" v-ripple> mdi-close </v-icon>
            </span>
            <label v-for="(item, i) in options" :key="i">
                <div>
                    <span class="check-box">
                        <input @click="check($event)" ref="checkitem" type="checkbox" :value="item" v-model="checked" />
                    </span>
                    <span>
                        <p>{{ item }}</p>
                    </span>
                </div>
            </label>
            <div>
                <v-btn :disabled="disabled" @click.native="uncheck()">
                    Limpar
                </v-btn>
                <v-btn :loading="loading" @click="filterItems(item.value)">
                    Salvar
                </v-btn>
            </div>
        </div>

        <SnackBar v-model="dialog" text="Não foi encontrando nenhum imóvel..." />
    </div>
</template>
<script>
import { mapGetters } from "vuex";
import SnackBar from "../../components/base/Snackbar";

export default {
    props: {
        item: {
            type: Object,
            require: true
        }
    },

    components: {
        SnackBar
    },

    data() {
        return {
            options: [],
            checked: [],
            dialog: false,
            loading: false
        };
    },

    computed: {
        ...mapGetters("PropertyModule", [
            "properties",
            "properties_holder_filter"
        ]),

        ...mapGetters("FiltersModule", ["filters"]),

        disabled() {
            return this.checked != "" ? false : true;
        }
    },

    methods: {
        async fetch_options({ value }) {
            const response = await this.$http.get(`filter/${value}`);
            this.$refs.box.style.display = "block";
            this.options = response.data;
        },

        closeBox() {
            this.$refs.box.style.display = "none";
        },

        async check(event) {
            const parent = await event.target.parentElement;

            if (parent.classList.contains("active")) {
                parent.classList.remove("active");
            } else {
                parent.classList.add("active");
            }
        },

        async uncheck() {
            this.checked = [];
            const items = this.$refs.checkitem;
            for (const key in items) {
                items[key].parentElement.classList.remove("active");
            }
        },

        async filterItems(module) {
            this.loading = true;

            if (this.checked != "") {

                // this.$store.commit("FiltersModule/DELETE_FILTERS");

                this.$store.commit("PropertyModule/MUTATE_PROPERTIES", {
                    properties: this.properties_holder_filter,
                    filters: this.$store.getters["FiltersModule/activeFilters"]
                });

                const filters = { [module]: this.checked };
                await this.$store.commit(
                    "FiltersModule/MUTATE_FILTERS",
                    filters
                );

                this.$store.commit("PropertyModule/MUTATE_PROPERTIES", {
                    properties: this.properties_holder_filter,
                    filters: this.$store.getters["FiltersModule/activeFilters"]
                });
            } else {
                // this.$store.commit("FiltersModule/DELETE_FILTERS");
                this.$store.commit("FiltersModule/REMOVE_FILTER", module);

                this.$store.commit("PropertyModule/MUTATE_PROPERTIES", {
                    properties: this.properties_holder_filter,
                    filters: this.$store.getters["FiltersModule/activeFilters"]
                });
            }

            this.$refs.box.style.display = "none";
            this.loading = false;
        }
    }
};
</script>

<style lang="scss" scoped>
@import "@/landingPage/search";
</style>
