<template>
    <v-container>
        <v-card class="mx-auto">
            <v-toolbar color="primary" dark>
                <v-toolbar-title>
                    Editar imóvel
                </v-toolbar-title>
            </v-toolbar>

            <v-card-text>
                <v-container>
                    <v-row>
                        <v-col class="ma-5" cols="12">
                            <v-subheader inset>
                                Endereço e localização
                            </v-subheader>
                            <v-divider inset></v-divider>
                        </v-col>

                        <v-col cols="12">
                            <input
                                class="autocomeplete-google"
                                ref="autocomplete"
                                required
                            />
                        </v-col>
                        <v-col cols="12">
                            <v-text-field
                                v-if="address"
                                ref="address"
                                label="Endereço"
                                v-model="address"
                                name="address"
                                required
                                disabled
                            ></v-text-field>
                        </v-col>

                        <v-col cols="12" sm="6" md="4">
                            <v-text-field
                                label="Bairro*"
                                ref="neighborhood"
                                name="neighborhood"
                                v-model="neighborhood"
                                v-if="neighborhood"
                                disabled
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                            <v-text-field
                                label="Cidade*"
                                v-model="city"
                                v-if="city"
                                ref="city"
                                name="city"
                                required
                                disabled
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                            <v-text-field
                                label="Estado*"
                                v-model="state"
                                v-if="state"
                                ref="state"
                                name="state"
                                required
                                disabled
                            ></v-text-field>
                        </v-col>

                        <v-col cols="12" sm="6">
                            <v-text-field
                                label="Latitude*"
                                hint="Latitude do imóvel para o Google maps"
                                v-model="latitude"
                                v-if="latitude"
                                persistent-hint
                                disabled
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6">
                            <v-text-field
                                label="Longitude*"
                                hint="Longitude do imóvel para o Google maps"
                                v-if="longitude"
                                v-model="longitude"
                                persistent-hint
                                disabled
                            ></v-text-field>
                        </v-col>

                        <v-col class="ma-5" cols="12">
                            <v-subheader inset>
                                Valores e formas de pagamento
                            </v-subheader>
                            <v-divider inset></v-divider>
                        </v-col>

                        <v-col cols="12" sm="6" md="4">
                            <v-text-field
                                prefix="R$"
                                label="Valor de avaliação*"
                                name="avaliation_value"
                                @input.native="handleData($event)"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                            <v-text-field
                                prefix="R$"
                                label="Valor mínimo*"
                                name="minimal_value"
                                required
                                @input.native="handleData($event)"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="4">
                            <v-text-field
                                label="Desconto"
                                name="discount"
                                @input.native="handleData($event)"
                            ></v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6">
                            <v-select
                                multiple
                                :items="['todos']"
                                label="Formas de pagamento*"
                                name="payment_method"
                                required
                            ></v-select>
                        </v-col>
                        <v-col cols="12" sm="6">
                            <v-text-field
                                label="Módulo de venda"
                                name="sale_module"
                                @input.native="handleData($event)"
                            ></v-text-field>
                        </v-col>

                        <v-col class="ma-5" cols="12">
                            <v-subheader inset>
                                Informações adicionais
                            </v-subheader>
                            <v-divider inset></v-divider>
                        </v-col>

                        <v-col cols="12">
                            <v-text-field
                                label="Título do anúncio *"
                                required
                                name="identificador"
                                @input.native="handleData($event)"
                            ></v-text-field>
                        </v-col>

                        <v-col cols="12">
                            <v-textarea
                                outlined
                                name="description"
                                label="Descrição"
                                @input.native="handleData($event)"
                            ></v-textarea>
                        </v-col>

                        <v-col cols="12" sm="6" md="4">
                            <v-text-field
                                label="Tipo de imóvel"
                                required
                                name="type"
                                @input.native="handleData($event)"
                            ></v-text-field>
                        </v-col>

                        <v-col cols="12" sm="6" md="4">
                            <v-checkbox
                                @input.native="handleData($event)"
                                label="Ativo"
                                name="status"
                                value="1"
                                v-model="status"
                            ></v-checkbox>
                        </v-col>

                        <v-col cols="12">
                            <v-text-field
                                label="Link anúncio"
                                name="link"
                                @input.native="handleData($event)"
                            ></v-text-field>
                        </v-col>

                        <v-col class="ma-5" cols="12">
                            <v-subheader inset>
                                Galeria
                            </v-subheader>
                            <v-divider inset></v-divider>
                        </v-col>

                        <v-col cols="12">
                            <v-file-input
                                v-model="files"
                                chips
                                label="Selecione as imagens do anúncio"
                                accept="image/*"
                                multiple
                                id="files"
                                @change="handleFileUploads"
                            ></v-file-input>
                            <!-- <input type="file" id="files" ref="files" multiple v-on:change="handleFileUploads()"/> -->
                        </v-col>
                    </v-row>
                </v-container>
                <small>
                    * indica que o campo é obrigatório
                </small>
            </v-card-text>

            <v-card-actions>
                <v-btn @click="create()" dark color="green">
                    SALVAR
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-container>
</template>

<script>
import GoogleMapsApiLoader from "google-maps-api-loader";

export default {
    name: "createAnuncio",

    data() {
        return {
            address: null,
            neighborhood: null,
            city: null,
            state: null,
            latitude: null,
            longitude: null,
            data: [],
            google: null,
            files: null,
            status: false,
            apiKey: process.env.MIX_API_KEY
        };
    },

    computed: {
        name() {
            return this.data;
        }
    },

    methods: {
        handleData({ target: { name, value } }) {
            this.data = { ...this.data, [name]: value };
        },

        handleFileUploads(event) {
            this.files = event;
        },

        async create() {
            const payload = new FormData();
            payload, { headers: {
                    'Content-Type': 'multipart/form-data'
                }
            }
            payload.set("address", this.address);
            payload.set("neighborhood", this.neighborhood);
            payload.set("state", this.state);
            payload.set("city", this.city);
            payload.set("latitude", this.latitude);
            payload.set("longitude", this.longitude);
            payload.set("status", this.status);
            for (const key in this.data) {
                if (Object.hasOwnProperty.call(this.data, key)) {
                    payload.set(key, this.data[key]);
                }
            }
            if (this.files) {
                for( var i = 0; i < this.files.length; i++ ){
                    let file = this.files[i];

                    payload.append('files[' + i + ']', file);
                }
            }
            payload.set("_method", "POST");

            const response = await this.$http.post(`properties`, payload);
            this.$router.push({
                name: "dashboardAnunciante",
                params: { redirectCreate: true }
            });
        }
    },

    async mounted() {
        const googleMapApi = await GoogleMapsApiLoader({
            libraries: ["places"],
            apiKey: this.apiKey
        });
        this.google = googleMapApi;
        // const places = new google.maps.places.Autocomplete(
        //     document.querySelector("#input-83")
        // );
        const places = new google.maps.places.Autocomplete(
            this.$refs.autocomplete
        );
        const self = this;
        google.maps.event.addListener(places, "place_changed", async () => {
            const place = await places.getPlace();

            const number = place.address_components[0].long_name;
            const address = place.address_components[1].long_name;
            const neighborhood = place.address_components[2].long_name;
            const city = place.address_components[3].long_name;
            const state = place.address_components[4].short_name;

            this.address = `${address}, ${number}`;
            this.neighborhood = neighborhood;
            this.city = city;
            this.state = state;
            this.latitude = JSON.stringify(place.geometry.location.lat());
            this.longitude = JSON.stringify(place.geometry.location.lng());
        });
    }
};
</script>

<style lang="scss">
.autocomeplete-google {
    width: 100% !important;
    padding: 10px !important;
    border: 2px solid #700b0d !important;
    border-radius: 5px !important;
    font-size: 17px !important;
}
</style>
