<template>
    <v-container>
        <Snackbar v-model="snackbar" :text="text" />

        <v-dialog persistent v-model="dialog" width="500">
            <v-card>
                <v-card-title class="headline grey lighten-2">
                    Atenção
                </v-card-title>

                <v-card-text class="mt-3">
                    Deseja deletar este Anúncio?
                    <small class="red--text">
                        Esta ação não pode ser desfeita
                    </small>
                </v-card-text>

                <v-divider></v-divider>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="error" @click="dialog = false">
                        CANCELAR
                    </v-btn>
                    <v-btn color="success" @click="triggerDelete()">
                        DELETAR
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-dialog persistent v-model="dialog_status" width="500">
            <v-card>
                <v-card-title class="headline grey lighten-2">
                    Atenção
                </v-card-title>

                <v-card-text class="mt-3">
                    Deseja alterar o status deste Anúncio?
                </v-card-text>

                <v-divider></v-divider>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="error" @click="dialog_status = false">
                        CANCELAR
                    </v-btn>
                    <v-btn color="success" @click="changeStatus()">
                        Alterar
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-dialog v-model="dialog_edit" width="500">
            <v-card>
                <v-card-title class="headline grey lighten-2">
                    Atenção
                </v-card-title>

                <v-card-text class="mt-3">
                    Você não pode mais editar ou excluir esse anúncio. O tempo máximo de edição conforme o plano contratado foi excedido. Nesse momento, você pode somente alterar o status para <strong>Ativo</strong> ou <strong>Inativo</strong>.
                </v-card-text>

                <v-divider></v-divider>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="secondary" @click="dialog_edit = false">
                        Ok!
                    </v-btn>
                    <v-btn color="info" @click="dialog_status = true">
                        Alterar status
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-dialog v-model="dialog_payment_status" width="500">
            <v-card>
                <v-card-title class="headline grey lighten-2">
                    Atenção
                </v-card-title>

                <v-card-text class="mt-3">
                    O seu pagamento ainda não foi processado. Se você efetuou o pagamento via boleto, ele pode demorar até 3 dias úteis para ser processado. Aguarde o processamento e tente novamente.
                </v-card-text>

                <v-divider></v-divider>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="info" @click="dialog_payment_status = false">
                        Ok!
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-card class="mx-auto">
            <v-toolbar color="primary" dark>
                <v-toolbar-title>
                    Meus Anúncios
                </v-toolbar-title>
            </v-toolbar>
            <v-data-table
                :search="search"
                :headers="headers"
                :items="anuncios"
                class="elevation-1 table-anuncios"
            >
                <template v-slot:top>
                    <v-toolbar flat>
                        <v-text-field
                            v-model="search"
                            append-icon="mdi-magnify"
                            label="Buscar..."
                            single-line
                            hide-details
                        ></v-text-field>
                        <v-spacer></v-spacer>
                        <v-btn
                            v-if="anuncios_restante > 0"
                            color="green"
                            dark
                            class="mb-2"
                            @click="newItem()"
                        >
                            Novo Anúncio
                        </v-btn>
                    </v-toolbar>
                </template>
                <template v-slot:item.actions="item">
                    <v-icon small class="mr-2" @click="editItem(item)" color="info">
                        mdi-pencil
                    </v-icon>
                    <v-icon small @click="deleteItem(item)" color="error">
                        mdi-delete
                    </v-icon>
                </template>
            </v-data-table>
        </v-card>
    </v-container>
</template>

<script>

export default {
    name: "anunciosList",

    components: {
        Snackbar: () => import("../../components/base/Snackbar")
    },

    data: () => ({
        search: "",
        snackbar: false,
        text: "",
        anuncios: [],
        anuncios_restante: 0,
        dialog: false,
        dialog_edit: false,
        dialog_status: false,
        dialog_payment_status: false,
        headers: [
            {
                text: "Descrição",
                align: "start",
                sortable: true,
                value: "identificador"
            },
            {
                text: "Tipo",
                align: "start",
                sortable: true,
                value: "type"
            },
            {
                text: "Cidade",
                align: "start",
                sortable: true,
                value: "city"
            },
            {
                text: "Criado em",
                align: "start",
                sortable: true,
                value: "dt_criacao"
            },
            {
                text: "Ações",
                align: "end",
                value: "actions",
                sortable: false
            }
        ],
        item_to_change: null,
    }),

    methods: {
        async fecthAnuncios() {
            const response = await this.$http.get("/anunciante/anuncios");
            this.anuncios = response.data;
        },

        async fetchPlano(){
            const response = await this.$http.get("/anunciante/plano");
            this.plano = response.data;
            if(this.plano.plano.qtd_imoveis > this.plano.qtd_publicados_plano){
                this.anuncios_restante = this.plano.plano.qtd_imoveis - this.plano.qtd_publicados_plano;
            }
        },

        async deleteItem({ item }){
            if(item.days_after_create < this.plano.plano.tempo_edicao){
                this.id = item.id;
                this.dialog = true;
            } else {
                this.item_to_change = item;
                this.dialog_edit = true;
            }
        },

        async triggerDelete() {
            await this.$http.delete(`properties/${this.id}`);
            await this.fecthAnuncios();

            this.dialog = false;
        },

        async newItem() {
            let payment_status = await this.checkPayment();

            if(payment_status != 'pending' && payment_status != null){
                this.$router.push({ name: "createAnuncio" });
            } else {
                this.dialog_payment_status = true;
            }
        },

        editItem({ item }) {
            if(item.days_after_create < this.plano.plano.tempo_edicao){
                this.$router.push({ name: "editAnuncio", query: { item: item } });
            } else {
                this.item_to_change = item;
                this.dialog_edit = true;
            }
        },

        async changeStatus(){
            this.snackbar = false;
            const response = await this.$http.get("/anunciante/change_status/"+this.item_to_change.id);

            if(response.status == 200){
                this.fecthAnuncios();
                this.dialog_status = false;
                this.dialog_edit = false;

                this.snackbar = true;
                this.text = "Anúncio alterado com sucesso";
            }
        },

        async processPayment(params){
            if(params.payment_id){
                let payload = new FormData();
                payload.set("payment_id", params.payment_id);
                payload.set("status", params.status);
                payload.set("payment_type", params.payment_type);
                payload.set("_method", "POST");

                let res = await this.$http.post('anunciante/store_plano', payload);
                // if(params.status == 'pending'){
                //     console.log('pendente');
                // }
            }
        },

        async checkPayment(){
            let res = await this.$http.get('anunciante/checar_pagamento');
            if(res.data.status){
                return res.data.status;
            }
        },
    },

    created() {
        this.fecthAnuncios();
        this.fetchPlano();
        this.processPayment(this.$route.query);
    },

    mounted() {
        if (this.$route.params.redirectCreate) {
            this.snackbar = true;
            this.text = "Anúncio criado com sucesso. Você possui "+this.plano.plano.tempo_edicao+" dias para editar.";
        }
        if (this.$route.params.redirectEdit) {
            this.snackbar = true;
            this.text = "Anúncio alterado com sucesso. Você possui "+this.plano.plano.tempo_edicao+" dias para editar.";
        }

    }

};
</script>

<style type="text/css">
    .table-anuncios tr > td:first-of-type{
        width: 63%;
    }
</style>
